!!! 5
html(lang='jp')
  head
    meta(charset='utf-8')
    title dotOne イベントする
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le HTML5 shim, for IE6-8 support of HTML elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le styles 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(href='/css/bootstrap.min.responsive.css', rel='stylesheet')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    script(src='/js/jquery-1.7.1.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') dotOne
          .nav-collapse
            ul.nav
              li
                a(href='/dec') イベント一覧
              li
                a(href='/suc') サクセス一覧
              li
                a(href='#contact') dot1について
            ul.nav.pull-right
              li.active
                a(href='/mypage') マイページ
          //
            /.nav-collapse 
    .container
      ul.breadcrumb
        li
          a(href='/') Home
          span.divider /
        li
          a(href='/mypage') マイページ
          span.divider /
        li
          イベント作成
      .row
        .span10
          .row
            form.form-horizontal(id="form-firstset", method="post", action="/regist_dec")
              div.control-group
                label.control-label(for="title") イベント名
                div.controls
                  div.input-prepend
                    span.add-on
                      i.icon-comment
                    input.input-xlarge(type="text", id="title", name="title")

              div.control-group
                label.control-label(for="description") 内容
                div.controls
                  div.input-prepend
                    span.add-on
                      i.icon-comment
                    textarea.input-xlarge(id="description", name="description")

              div.control-group
                label.control-label(for="detail") 詳細な説明
                div.controls
                  div.input-prepend
                    span.add-on
                      i.icon-comment
                    textarea.input-xlarge(id="detail", name="detail")

              div.control-group
                label.control-label(for="target_num") 目標数
                div.controls
                  div.input-prepend
                    span.add-on
                      i.icon-user
                    input.input-xlarge(type="text", id="target_num", name="target_num")

              div.control-group
                label.control-label(for="deadline") スタート日
                div.controls
                  div.input-prepend
                    span.add-on
                      i.icon-calendar
                    input.input-xlarge(type="text", id="deadline", name="deadline")

              div.form-actions
                button(type="submit", class="btn btn-primary") 作成する
                button(type="reset", class="btn") キャンセル
    hr
    footer
      p © Company 2012
    //
       /container 
    //
       Placed at the end of the document so the pages load faster 
    script(src='/socket.io/socket.io.js')
    script(src="/js/bootstrap.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js")
    link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css", type="text/css", rel="stylesheet")
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js')
    script(src='/js/jquery.autosize.min.js?v=1.0')

  //
    script(src='js/bootstrap-transition.js')
    script(src='js/bootstrap-alert.js')
    script(src='js/bootstrap-modal.js')
    script(src='js/bootstrap-dropdown.js')
    script(src='js/bootstrap-scrollspy.js')
    script(src='js/bootstrap-tab.js')
    script(src='js/bootstrap-tooltip.js')
    script(src='js/bootstrap-popover.js')
    script(src='js/bootstrap-button.js')
    script(src='js/bootstrap-collapse.js')
    script(src='js/bootstrap-carousel.js')
    script(src='js/bootstrap-typeahead.js')


  script
    $().ready(function(){
      $('#deadline').datepicker();
      $('#description').autosize();
      $('#detail').autosize();


      $("#form-firstset").validate({
        rules: {
          title: {
            required: true
          },
          description: {
            required: true
          },
          detail: {
            required: true
          },
          target_num: {
            required: true,
            number: true
          },
          deadline: {
            required: true,
            date: true
          }
        },
        messages: {
          title: "タイトルを入力してください。",
          description: "概要を入力して下さい",
          detail: "詳細な内容を入力して下さい",
          target_num: "有効な数字を入力して下さい",
          deadline: "有効な日付を入力して下さい"
        },
        errorClass: "alert-error",
        errorElement: "span"
      });

    });
