<!DOCTYPE HTML>
<html lang="ja">
<head>
<title>コミュニティを作る｜シャベリハウス</title>
<meta charset="UTF-8">
<meta name="description" content="twitterユーザーが趣味と興味でつながるリアルタイムなおしゃべり部屋。シャベリハウス">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter">
<script src="/js/globalcommon.js" charset="UTF-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/common.js" type="text/javascript" charset="UTF-8"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<link rel="shortcut icon" href="http://syaberi-house.com/images/favicon.ico" />
<!-- analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29477382-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<script type="text/javascript">
var uaiph = 0;
var uaand = 0;
var uaetc = 0;
	if(navigator.userAgent.indexOf('iPhone') != -1){
		document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />');
		document.write('<link rel="stylesheet" href="/css/common_smapho.css" />');
		document.write('<link rel="stylesheet" type="text/css" href="/css/style_smapho.css">');
		document.write('<link rel="stylesheet" href="/css/nyroModal_smapho.css">');
		document.write('<scr'+'ipt src="/js/jquery.nyroModal.customspaho.js" charset="UTF-8"></scr'+'ipt>');
		uaiph = 1;
	}else if(navigator.userAgent.indexOf('Android') != -1){
		document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />');
		document.write('<link rel="stylesheet" href="/css/common_smapho.css" />');
		document.write('<link rel="stylesheet" type="text/css" href="/css/style_smapho.css">');
		document.write('<link rel="stylesheet" href="/css/nyroModal_smapho.css">');
		document.write('<scr'+'ipt src="/js/jquery.nyroModal.customspaho.js" charset="UTF-8"></scr'+'ipt>');
		uaand = 1;
	}else{
		document.write('<link rel="stylesheet" type="text/css" href="/css/style.css">');
		document.write('<link rel="stylesheet" href="/css/common.css" />');
		document.write('<link rel="stylesheet" href="/css/nyroModal.css">');
		document.write('<scr'+'ipt src="/js/jquery.nyroModal.custom.js" charset="UTF-8"></scr'+'ipt>');
		uaetc = 1;
	}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/upfile.js" charset="UTF-8"></script>
<script src="/js/jquery.tinyscrollbar.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#scrollbar1').tinyscrollbar();
});
</script>
<script>
<!--

function createHttpRequest(){
	if(window.ActiveXObject){
		try {
			return new ActiveXObject("Msxml2.XMLHTTP")
		} catch (e) {
			try {
				return new ActiveXObject("Microsoft.XMLHTTP")
			} catch (e2) {
				return null
			}
		}
	} else if(window.XMLHttpRequest){
		return new XMLHttpRequest()
	} else {
		return null
	}
}

//function getFacebookFriends(){
function getfbFriend(){
	var tim = new Date();
	var parameters = "tim=" + tim.getSeconds()+tim.getMilliseconds();
	var request = "/facebook-get-friends?"+parameters;
//	alert(request);
	var httpoj = createHttpRequest()
	httpoj.open( "GET" , request , true )
	httpoj.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8'); 
	httpoj.onreadystatechange = function(){ 
		if ((httpoj.readyState==4) && (httpoj.status == 200)){
			var args = {};
			var arr = httpoj.responseText;
			var json_text = eval("(" + arr + ")");
			var getFriendJson = eval("(" + json_text + ")");
			
			fbFriendList(getFriendJson["data"]);
			
		}
	}
	httpoj.send();
}

function fbFriendList(arr){
	var str = ""
	for( var i = 0 ; i < arr.length ; i++ ){
		str += '<li>';
		str += '	<div class="invite_li_input"><input type="checkbox" name="fb_'+arr[i]["id"]+'" id="fb_'+arr[i]["id"]+'" value="'+arr[i]["id"]+'" class="invite_table_td_tumnb_checkbox"></div>';
		str += '	<div class="invite_li_tumnb"><img src="https://graph.facebook.com/'+arr[i]["id"]+'/picture" width="40" height="40"></div>';
		str += '	<div class="invite_li_name">'+arr[i]["name"]+'</div>';
		str += '</li>';
	}
	document.getElementById("tab_1_area").innerHTML = str;
	$('#scrollbar1').tinyscrollbar();

}

if(window.addEventListener) {
	window.addEventListener("load", getfbFriend, false);
}
else if(window.attachEvent) {
	window.attachEvent("onload", getfbFriend);
}

// -->
</script>

</head>
<body>
<div id="wrapper">

<%- partial('header') %>

<form id="full-form-tag" name="full-form-tag" method="post" action="/create-event" enctype="multipart/form-data">
<div id="contents_wrapp">
	<div id="contents_wrapp_inside">
		<section id="make_community">
			<h3 id="makecommunity_h3"><img src="/images/makecommunity_h3.gif" width="125" height="18" alt=""></h3>
			<form action="" method="">
			<table id="makecommunity_table">
				<tr>
					<th><img src="/images/makecommunity_name.gif" width="100" height="30" alt="コミュニティ名"><br><span style="color:#FF1881">※必須</span></th>
					<td><div class="input_makecommunity_name_area"><input type="text" name="title" id="title" value=""></div><span class="error_title_requ"></span></td>
				</tr>
				<tr>
					<th><img src="/images/makecommunity_tag.gif" width="100" height="15" alt="タグ"></th>
					<td id="makecommunity_table_tag clearfix">
						<input type="hidden" id="word_tag_num" name="word_tag_num" value="">
						<a href="javascript:void(0)" id="appned_Tag"><img src="/images/makecommunity_tagbox_close.gif" width="22" height="22" class="fltl mag11"></a>
					</td>
				</tr>
				<tr>
					<th><img src="/images/makecommunity_explain.gif" width="100" height="32" alt="説明"><br><span style="color:#FF1881">※必須</span></th>
					<!--td><div id="input_makecommunity_name_textarea"  id="detail" name="detail"><textarea></textarea></div></td-->
					<td><div id="input_makecommunity_name_textarea" ><textarea id="detail" name="detail"></textarea></div><span class="error_detail_requ"></span></td>
				</tr>

			<script>
			if(uaiph !=1){
				document.write('<tr>');
				document.write('<th>コニュニティ画像</th>');
				document.write('<td>');

				if(uaand == 1){
					document.write('<input type="file" size="30" name="thumb_image" id="thumb_image" style="font-size:5px;">');
				}else{
					document.write('<input type="file" size="30" name="thumb_image" id="thumb_image" onchange="changeFile();">');
					//document.write('<div class="fileToImage" id="block">');
					//document.write('<input type="file" name="file" id="file" class="hide" value="" onchange="changeFile();" />');
					//document.write('</div>');
				}

				document.write('</td>');
				document.write('</tr>');
				document.write('<tr>');
				document.write('<th>背景画像</th>');
				document.write('<td>');

				if(uaand == 1){
					document.write('<input type="file" size="30" name="dec_image" id="dec_image" style="font-size:5px;">');
				}else{
					document.write('<input type="file" size="30" name="dec_image" id="dec_image" onchange="changeFile();">');
					//document.write('<div class="fileToImage" id="block">');
					//document.write('<input type="file" name="file" id="file" class="hide" value="" onchange="changeFile();" />');
					//document.write('</div>');
				}

				document.write('</td>');
				document.write('</tr>');
			}
			</script>

			</table>
			<div id="makecommunity_detail">




			<div id="terms" style="margin:30px;">


<div style="overflow:auto;height:150px;border:1px #ccc solid; padding:10px; background-color:#fff; text-align:left;">



「シャベリハウス」（以下「本サービス」といいます）は、エヌ・ティ・ティ レゾナント株式会社（以下「当社」といいます）が提供するトライアルサービスです。本サービスをお客様が利用されるにあたってのご利用条件を以下に明記します。本サービスの利用を希望するお客様は、第2条第1項に従い、本規約に同意し利用者資格を取得する必要があります。<br>
		本規約及び本サービスは、予告なく変更、修正、追加、削除される場合があります。本規約又は本サービスの変更後もお客様が本サービスをご利用になる場合は、変更された本規約及び本サービスに対しても同意されたものとみなします。<br>
		<br>
		第1条　本サービス<br>
		本サービスは、当社がウェブサイト（以下「サービスサイト」といいます）上で提供するサービスであり、チャット内容とそのタイトル、画像、動画及びリンクURL等（以下、「コンテンツ情報」といいます）を投稿し、サービスサイト内の所定のページ上で、簡易にコンテンツ情報を共有・閲覧・編集することができます。<br>
		<br>
		第2条　利用者登録及び本サービスの利用方法<br>
		1．お客様が、本サービスを利用する場合は、OAuthプロバイダが別に定める利用規約（以下「OAuth利用規約等」といいます）に基づき、OAuthプロバイダサービス（以下「OAuthプロバイダサービス」といいます）にて取得した認証情報でログイン後、別途サービスサイト上で本規約に同意のうえ、OAuth認証情報とパスワード、本サービス用のＥメールアドレス及びニックネームその他お客様に関する情報（以下「利用者情報」といいます）を入力し、本サービスを利用するための登録（以下「利用者登録」といいます）を行う必要があります。それにより、お客様は本サービスの利用資格（以下「利用者資格」といいます）を取得するものとします。以下、利用者資格を有するお客様を「利用者」といいます。なお、利用者がOAuth利用規約等の規定に従いOAuth認証情報を喪失した場合、利用者資格も取消されるものとします。<br>
		2．利用者によってOAuthプロバイダから本サービスに提供されたOAuth認証情報の利用にあたってはOAuth利用規約等に定める条件が適用されるものとします。<br>
		3．利用者は、利用者情報を変更する場合、自己の責任において、速やかに当社の定める変更手続きを行うものとします。<br>
		4．利用者が利用者情報として登録するＥメールアドレスは、利用者本人のみが使用するＥメールアドレスに限られます。<br>
		5．利用者は、利用者資格を第三者に譲渡、貸与又は担保の用に供することはできません。<br>
		6．利用者は、自らが投稿したコンテンツ情報の削除をする場合、当該コンテンツ情報を投稿したOAuth認証情報と同一のOAuth認証情報を用いてのみ行うことができるものとします。なお、利用者は、コンテンツ情報が削除された場合、当該コンテンツ情報に関するすべてが削除されることに、予め同意するものとします。<br>
		7．利用者は、コンテンツ情報を投稿した場合、投稿したコンテンツ情報のすべてが公開され、それらのコンテンツ情報と一緒にニックネーム及びOAuthプロバイダサービスで登録したアイコンが表示されることに予め同意するものとします。<br>
		8．利用者は、コンテンツ情報のOAuthプロバイダサービスでの公開を選択した場合、投稿したコンテンツ情報のすべてが公開されることに予め同意するものとします。<br>
		<br>
		第3条　利用者情報の利用<br>
		1．当社は、利用者情報を当社の「プライバシーポリシー」に基づき適切に取り扱うものとします。なお、利用者情報の利用目的は、以下の各号に定める通りです。<br>
		（1）本サービスのご提供及び改良、並びに新サービスの開発、実験及び検証<br>
		（2）利用者がご本人であることの確認<br>
		（3）当社から利用者に対する、当社のサービスの利用等に関するご案内等のご連絡<br>
		（4）利用者からのお問い合わせや苦情等への対応<br>
		（5）その他、当社事業の運営及び当社の業務に付随する業務<br>
		2．当社は、第10条第1項に従い本サービスに関する事業の第三者への譲渡に伴い利用者情報が提供される場合を除き、利用者に対して利用者情報の提供先を通知し、利用者の承諾を得ること（画面上それらを明示し、利用者が拒絶する機会を設けることを含みます）を行わない限り、第三者に利用者情報を開示、提供しないものとします。<br>
		3．前項の規定に拘わらず、当社は、以下の各号の場合に、利用者の承諾なく利用者情報を開示、提供することがあります。<br>
		（1）法令に基づく場合<br>
		（2）人の生命、身体又は財産の保護のために必要がある場合で、利用者の同意を得ることが困難である場合<br>
		（3）公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合<br>
		（4）国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合<br>
		4．利用者は、当社に登録した利用者情報を照会又は変更することを希望する場合には、法令及び別途当社が定める規則に従ってかかる照会又は変更を請求することができるものとします。<br>
		5．当社における利用者情報の管理責任者は、当社のビジネスリスクマネジメント推進担当役員とします。<br>
		6．利用者は、利用者が本サービスを使用した場合に、当社が本サービスの利用状況に関するログ情報を収集し、本サービスを提供するために、当社のサーバ(当社の委託先のサーバを含みます)に保存、蓄積及び利用することに予め同意するものとします。<br>
		<br>
		第4条　免責及び保証の否認事項<br>
		1．当社は、以下の内容について一切保証しません。利用者は、以下の内容をご理解のうえでご自身の責任において本サービスをご利用頂くものとし、それらの事由により利用者に損害（直接損害、間接損害、特別損害、付随損害、派生損害、逸失利益を含みますがそれらに限られません）が発生した場合であっても、当社に対して損害賠償を一切請求しないことを予め承諾するものとします。<br>
		（1）．本サービス（本サービスを構成するプログラム及び本サービス上で提供されるコンテンツ情報を含み、以下本条において同様）その他の情報の確実性、正確性、安全性、有用性、道徳性、適切性、著作権の許諾の有無、及び特定目的への適合性のいずれについても保証するものではありません。 なお、当社は利用者からの問い合わせに対して直接回答又はアドバイスを行う場合がありますが、その内容についても本号前段に準じ、何らの保証するものではありません。<br>
		（2）．利用者の本サービスの利用に起因・関連し、利用者と他の利用者又は第三者との間で生じた著作権・商標権等の知的財産権、名誉・信用・プライバシー等の人格的権利その他一切の権利の侵害等に係る問い合わせ等について一切関知しないものとし、利用者は、自己の費用と責任で当該問い合わせ等を解決するものとします。<br>
		（3）．本サービスの確実な提供（本サービスが中断、中止、廃止されないことを含みます）、アクセス結果、セキュリティ、また、コンテンツ、コンテンツ情報が遅滞なく確実にアップロードされること、それらを削除できること、それらが消失又は破損されないことなど、本サービスの品質について一切保証しておりません。また、当社は、第9条により本サービスの提供を一時的に停止した場合も含め、本サービスの機能欠陥が原因で利用者へ損失や損害が発生した場合であっても、一切責任を負いません。<br>
		（4）．本サービス上のコンテンツ情報その他の情報を削除したことにより、利用者に損失や損害が発生した場合、一切責任を負いません。<br>
		（5）．第三者による利用者情報、OAuth認証情報の不正使用等により、利用者に発生した損害については、一切責任を負いません。<br>
		（6）．本サービスをご利用の皆様が著作権・秘密保持・名誉毀損・品位保持及び輸出に関する法令その他法令上の義務に従っていることなど、本サービスをご利用の皆様による本サービスの利用状態についても一切保証しておりません。<br>
		（7）．利用者が本サービスを利用したこと及び当社が本サービスの内容を変更、追加、削除又は終了したことにより利用者に発生した損害については、一切責任を負いません。<br>
		（8）．サービスサイトからリンクされている外部のサイト及びOAuthプロバイダサービスは、当社が管理するものではありません。従って、当社は、当社の管理外にある外部サイト上で利用が可能となっているコンテンツ、広告、商品、役務などの確実性、正確性、安全性、有用性、道徳性、適切性、著作権の許諾の有無、及び特定目的への適合性等を含め一切責任を負いません。また、当社は、利用者がリンク先の外部サイトを利用したことにより、又はかかるサイト上で利用が可能になっているコンテンツ、広告、商品、役務などに起因又は関連して、利用者に生じた損害（直接損害、間接損害、特別損害、付随損害、派生損害、逸失利益を含みますがそれらに限られません）についても、一切責任を負いません。<br>
		2．前項第3号の他、当社は、本サービスを運営するために必要な設備（以下「設備」といいます）に蓄積されたコンテンツ情報の一部あるいは全部が消失し、又は第三者により改ざんされた場合、技術的に可能な範囲で当該情報の復旧に努めるものとします。当社は、その復旧への努力を以って、消失又は改ざんに伴い利用者に発生した損害の賠償責任から免れるものとします。<br>
		3． 当社の、本サービス及びリンク先の電子ファイルもしくは送信ルートに含まれるウイルス又は外部からの攻撃に対するセキュリティ対策は、その時点における同業他社と同等レベルのものに限られます。<br>
		<br>
		第5条　利用者の責任<br>
		1．本サービスは、利用者の個人的かつ非営利の目的のために提供されるものです。利用者は、本サービスにおいて、以下に該当する又は該当するおそれのある行為、並びに、以下に該当する又は該当するおそれのあるコンテンツ情報の投稿などの操作をしてはならないものとします。<br>
		（1）第三者（自己以外の利用者を含み、以下本条において同様）もしくは当社の著作権、特許権、実用新案権、意匠権、商標権、肖像権、パブリシティ権、プライバシー権その他の権利を侵害する行為、及び侵害するおそれのある行為<br>
		（2）第三者もしくは当社を誹謗中傷する行為及び名誉・信用を傷つける行為<br>
		（3）上記（1）、（2）の他、第三者もしくは当社に不利益又は損害を与える行為、及び与えるおそれのある行為<br>
		（4）人や動物の殺害、殺傷、虐待等の画像等、残虐な情報等の暴力的及びグロテスクなイメージ・表現を含むコンテンツ情報を投稿する行為<br>
		（5）違法薬物の使用等を美化・誘発・助長する表現及び違法薬物に関するコンテンツ情報を投稿する行為<br>
		（6）未成年者に対し悪影響がある行為、及びそのおそれのある行為<br>
		（7）わいせつ、児童ポルノ又は児童虐待にあたる行為、及びそのおそれのある行為<br>
		（8）犯罪的行為、又は犯罪的行為に結び付く行為もしくはそのおそれのある行為<br>
		（9）人を自殺に誘引又は勧誘する行為<br>
		（10）上記各号の他、公序良俗に反する行為、又はそのおそれのある行為もしくは公序良俗に反する情報を他の不特定多数のものに対して送信、提供する行為<br>
		（11）上記各号を含むサイト、健全な目的以外の出会い系サイト、年齢制限を有するサイトに誘導する行為（単にリンクを張る行為を含みます）<br>
		（12）自分以外の人物を名乗ったり、代理権などがないにも拘わらず法人を名乗ったり、当該法人と提携・協力関係にあると偽る行為<br>
		（13）選挙期間中であるか否かを問わず、選挙運動又はこれに類する行為<br>
		（14）性風俗、宗教、政治に関する活動<br>
		（15）当社の承諾なく、本サービスを通じて又は本サービスに関連して、営利を目的とした行為又はその準備を目的とした行為<br>
		（16）本サービス上の情報の権利者の承諾なく、第三者をして本サービス上の情報を使用させたり、公開させる行為<br>
		（17）OAuth認証情報を不正に使用する行為<br>
		（18）コンピュータウィルス等の有害なプログラムを、本サービスを通じて、又は本サービスに関連して使用し、もしくは提供する行為<br>
		（19）本サービスに含まれるすべてのソフトウェアについて、分解、逆コンパイル又はリバースエンジニアリングする行為<br>
		（20）本人の同意を得ていない個人情報を投稿、登録する行為<br>
		（20）本サービス又はサービスサイトを利用し、利用者情報、OAuth認証情報、その他個人又は法人に属する情報を、当該個人又は法人の意図に反して取得する行為、及びそのおそれのある行為<br>
		（21）通常利用の範囲を超えて設備に負担をかける等、本サービスの運営を妨害する行為<br>
		（22）本規約に違反する行為<br>
		（23）その他、法令及びインターネット上において一般的に遵守されている規則などに違反する又は違反するおそれのある行為<br>
		（24）その他、当社が不適切と判断する行為<br>
		2．当社は、利用者が投稿したコンテンツ情報が前項に違反すると当社が判断したときなど、当社の裁量によりそれらを投稿した利用者の承諾を得ることなく、かつその理由を当該利用者に説明することなく、当該コンテンツ情報を削除することができるものとします（但し、当社が必ず当該コンテンツ情報を削除することを約束するものではありません）。<br>
		3．利用者は、第三者が投稿した第1項に違反するコンテンツ情報を発見したときは、当社が別途定める方法により当該コンテンツ情報を申告（以下「申告」といいます）することができるものとします。この場合、当社は、当該申告に基づき、自己の裁量により当該コンテンツ情報を削除することができるものとします（但し、当該申告に基づき、当社が必ず当該コンテンツ情報を削除することを約束するものではありません）。なお、当社は、申告をなした利用者に対して、当該コンテンツ情報の削除の有無及び削除しなかった場合の理由を明示する義務を負わないものとします。<br>
		4．第2項又は前項に従い、当社がコンテンツ情報を削除したこと又は削除しなかったことに起因又は関連して、利用者又は第三者に発生した損害について、当社は、何ら責任を負わないものとします。<br>
		5．利用者は、利用者が掲載したコンテンツ情報に対し当社が採った削除措置については、何ら異議を述べないものとします。また、利用者は、当社の削除措置により受けた損害の一切について、当社に損害賠償を請求しないことに同意するものとします。<br>
		6．利用者は、本サービスの利用に際して、第三者に対して損害を与えたときは、自己の責任と費用において当該損害を賠償するものとし、かつ当社を免責するものとします。<br>
		7．利用者は、本サービスの利用に際して、当社に対して損害を与えたときは、自己の責任と費用において当社に生じた損害及び費用（弁護士費用を含みます）を賠償するものとします。<br>
		<br>
		第6条　著作権<br>
		1．利用者が投稿したコンテンツ情報に係る著作権は、利用者と当社間においては、利用者に帰属するものとします。但し、利用者は、対価の請求をすることなく、コンテンツ情報について、以下に定める権利を当社に対して許諾すること（当該許諾に際して必要な権利処理を行うことを含みます）に予め同意します。なお、当該権利許諾は、利用者が本サービスの利用を終了（終了事由の如何を問わず、以下同様とします）した後においても、有効に存続するものとします。<br>
		（1）利用者が投稿したコンテンツ情報の全部又は一部を複製する権利、公衆送信する権利、編集する権利、改変する権利、翻案・翻訳する権利及び出版する権利をはじめとする著作権。<br>
		（2）利用者が投稿表示画面において、当社が選定する任意のコンテンツ（広告を含みます）を表示する権利。なお、広告を掲載した場合の広告収入は、当社が排他的に獲得するものとします。<br>
		（3）前各号に定める権利を当社の委託業者、当社の提携先業者、及び共同事業運営者（総称して、以下「委託業者等」といいます）に再許諾する権利。<br>
		2．利用者は、当社及び委託業者等に対して、自己が投稿したコンテンツ情報に関する著作者人格権を一切行使してはならないものとします。<br>
		3．利用者は、自己が投稿したコンテンツ情報に関する著作権を第三者に譲渡する場合、当該第三者をして本条に定める内容に同意させるものとします。<br>
		4．本サービスにおいて表示される情報のうち、コンテンツ情報以外の情報に係る著作権は、原始的に当社又は当該情報の権利者に帰属するものとします。<br>
		<br>
		第7条　利用者による本サービスの終了<br>
		1．利用者は、理由の如何を問わず、本サービスの利用を終了することができます。この場合において利用者は、当社の定める手続に従い利用者資格を喪失するものとします。<br>
		2．利用者は、本規約の規定もしくは本規約の変更に対して異議がある場合又は本サービスの内容に異議がある場合、当社に対して講じることのできる手段が本サービスの利用を終了することに限定されることに予め同意します。<br>
		<br>
		第8条　本サービス終了後の措置<br>
		1．本サービスが終了（理由の如何を問いません）した後において、当社は、当該設備に保管されている、利用者情報及び利用者が投稿したコンテンツ情報（本サービスの利用状況に関するログ情報を含み、以下本条において同様とします）を抹消することができるものとします。<br>
		2．利用者が投稿したコンテンツ情報は、利用者が利用者資格を喪失する前に自ら削除しない限り、利用者資格喪失後も、表示画面上に表示されることがあることに予め同意するものとします。<br>
		<br>
		第9条　当社の権限<br>
		1．当社は、以下の事由により、利用者に事前に通知することなく、一時的に本サービスの提供を中断することがあります。<br>
		（1）設備の保守、点検、修理などを行う場合<br>
		（2）火災・停電・設備障害により本サービスの提供ができなくなった場合<br>
		（3）天変地異などにより本サービスの提供ができなくなった場合<br>
		（4）その他、運用上又は技術上、本サービス提供の一時的な中断を必要と当社が判断した場合<br>
		2．当社は、本サービスへの利用が著しく集中し、設備に過度の負担がかかっていると判断した場合には、サービス品質を保つため、サービスサイトへのアクセスやコンテンツ情報のアップロード、利用者ログイン等のサービス制限を行うことができるものとし、利用者はこれを予め了承するものとします。<br>
		3．当社は、利用者が本サービスを通じて行った行為が、第5条第1項に違反する又は違反するおそれがあると判断した場合には、自己の裁量により、予告なくかつその理由を明示することなく、当該利用者の本サービスへのアクセスを制限する、又は当該利用者の利用者資格を失効させる権利を有するものとします。<br>
		4．当社は、利用者が継続して3ヶ月以上本サービスの利用を行わない場合には、自己の裁量により、予告なく、当該利用者の本サービスへのアクセスを制限する、コンテンツ情報の全部又は一部を削除する、及び当該利用者の利用者資格を失効させる権利を有するものとします。<br>
		5．前各項に定めるほか、当社は、自己の裁量により、10日前までにサービスサイトにおいて利用者に告知することにより、いつでも本サービスの提供を終了させる権利を有するものとします。<br>
		6．本条に従い、当社が行った措置に起因又は関連して、利用者に発生した損害について、当社は、何ら責任を負わないものとします。<br>
		<br>
		第10条　その他<br>
		1．当社は、本サービスに関する事業を第三者に譲渡する場合、最低10日間の予告期間をおいて、サービスサイト、”goo”上又は当社が別に定める方法で利用者に告知の上、本規約に基づく当社のすべての権利及び義務を承継、売却、合併その他の方法で譲渡することができるものとします。また、この場合において、利用者は、当社がかかる権利及び義務を譲渡するものとしてコンテンツ情報に関する諸権利を譲渡することに予め同意するものとします。<br>
		2．当社は、本サービスの提供にあたり、本規約に別段の定めがある場合を除き、当社の過失に基づく債務不履行又は不法行為に起因して利用者に損害が発生した場合、現実かつ直接の損害に限り賠償するものとします。また、当社は、使用機会の逸失、業務の中断、当社が本規約の定めに従って実施した行為の結果発生した損害又は前文に定める損害を除くあらゆる損害（直接的、間接的、付随的、偶発的、派生的、特殊な損害、逸失利益を含みます）に対して、たとえ当社がかかる損害の可能性を事前に通知されていたとしても、責任を負いません。<br>
		<br>
		以上<br>
		<br>
		制定：平成24年4月25日<br>
		<br>
		<br>
</div>
<div style="text-align:center;padding-top:20px;">
			<input type="checkbox" name="terms_check" id="terms_check" style="line-height:18px;height:24px;font-size:18px;"><span style="margin-left:10px;">本サービスの利用規約に同意します(必須)</span>
			<br/><span class="error_terms_check_requ"></span>
</div>










				<!--a href="javascript:void(0);"><img src="/images/makecommunity_details.gif" width="91" height="39" alt="詳細設定" id="detailsetting"></a-->
				<div id="detail_box">
					<div id="detail_box_top"></div>
					<div id="detail_box_center">
						<div id="detail_box_close"><a href="javascript:void(0);"><img src="/images/makecommunity_detail_close.png" width="26" height="26"></a></div>
						<table id="detail_box_table">
							<tr>
								<th class="bdbt">プライバシー</th>
								<td class="bdbt"><input type="checkbox" name="" id="" value="" class="">公開</td>
							</tr>
							<tr>
								<th class="bdbt" rowspan="3">メンバー承認</th>
								<td><input type="checkbox" name="" id="" value="" class="">参加申請したメンバーは自動承認されます。</td>
							</tr>
							<tr>
								<td colspan="2"><input type="checkbox" name="" id="" value="" class="">メンバーは新メンバーを追加できます。</td>
							</tr>
							<tr>
								<td class="bdbt" colspan="2"><input type="checkbox" name="" id="" value="" class="">メンバーは新メンバーを追加できますが、管理人の承認が必要です。</td>
							</tr>
							<tr>
								<th rowspan="2">部屋作成の権限</th>
								<td><input type="checkbox" name="" id="" value="" class="">管理人・メンバーもチャット部屋を作成できます。</td>
							</tr>
							<tr>
								<td colspan="2"><input type="checkbox" name="" id="" value="" class="">管理人だけがチャット部屋を作成できます。</td>
							</tr>
						</table>
					</div>
					<div id="detail_box_bottom"></div>
				</div>
			</div>
		</section>
		<section id="make_community_invite" >
			<h3 id="makecommunity_invite_h3" style="display:none;"><img src="/images/makecommunity_invite_h3.gif" width="98" height="15" alt="友達を招待する"></h3>
			<div id="makecommunity_invite_tab" style="display:none;">
				<ul id="tab_ul" >
					<li id="tab_1" class="bg_ov top1px"><img src="/images/makecommunity_invite_fb.png" width="97" height="25" alt=""></li>
					<li id="tab_2"><img src="/images/makecommunity_invite_tw.png" width="98" height="25" alt=""></li>
					<li id="tab_3"><img src="/images/makecommunity_invite_mx.png" width="79" height="25" alt=""></li>
					<li id="tab_4"><img src="/images/makecommunity_invite_ml.png" width="41" height="25" alt=""></li>
				</ul>
				<div id="scrollbar1">
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview">

						<ul id="tab_1_area" class="tab_wrapp"></ul>

						<ul id="tab_2_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
						</ul>
						<ul id="tab_3_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
						</ul>
						<ul id="tab_4_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">4飯島　おさむ</div>
							</li>
						</ul>
						</div><!--/overview-->
					</div><!--/viewport-->
				</div><!--/scrollbar1-->
		</div><!--/makecommunity_invite_tab-->
			<div class="txtc magt20 magb200">
				<script>
				if(uaiph == 1 || uaand == 1){
					document.write('<input type="image" src="/images/makecommunity_submit.png" width="100%" height="auto" alt="送信">');
				}else{
					document.write('<input type="image" src="/images/makecommunity_submit.png" width="396" height="73" alt="送信">');
				}
				</script>
			</div>
		</section>
	</div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->
</form>






<div class="main-img"></div>
<div class="full-form">
<!--form id="full-form-tag" name="full-form-tag" method="post" action="/create-event" enctype="multipart/form-data">
		<h3>ROOM</h3>
		<div class="form-container">
			<div class="title">チャット部屋名</div>
			<div class="content"><input type="text" size="30" id="title" name="title" value=""></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div class="title">部屋の説明</div>
			<div class="content"><textarea cols="40" rows="10" id="detail" name="detail"></textarea></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div class="button">
				<span class="btn" id="submit-event">チャット部屋を作る</span>  <span class="btn" id="submit-cancel">キャンセル</span>
			</div>
		</div>
</form-->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<!--script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet"-->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js"></script>
<!--script src="/js/jquery.ui-timepicker.js"></script>
<script src="/js/jquery.exdate.js"></script-->
<script src="/js/jquery.autosize.min.js?v=1.0"></script>
<script src='/js/jquery.filedrop.js?v=1.0'></script>
<script src='/js/filedrop-script.js?v=1.0'></script>
<style type="text/css">
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>










<script type="text/javascript">
<!--
  $().ready(function(){
    //$('#deadline').datetimepicker({
    //  //addSliderAccess: true
    //  //sliderAccessArgs: { touchonly: false }
    //});
    //$('#deadline').datepicker();
    //$('#description').autosize();
    $('#detail').autosize();


    $("#full-form-tag").validate({
      rules: {
        title: {
          required: true,
          maxlength: 40
        },
        //description: {
        //  required: true
        //},
        detail: {
          required: true,
          maxlength: 400
        },
        dec_image: {
          accept: "jpg"
        },
        thumb_image: {
          accept: "jpg"
        },
        terms_check: {
          required:true
        }
        //target_num: {
        //  required: true,
        //  number: true
        //},
        //deadline: {
        //  required: true,
        //  date: true
        //}
      },
      messages: {
        title:{
        	required:"タイトルを入力してください",
        	maxlength:$.format("タイトルは{0}文字以内にしてください。")
        },
        //description: "概要を入力して下さい",
        detail:{
        	required:"詳細な内容を入力して下さい",
        	maxlength:$.format("内容は{0}文字以内にしてください。")
        },
        dec_image:"ファイル形式が違います",
        thumb_image:"ファイル形式が違います",
        terms_check:"利用規約に同意してください"
        //target_num: "有効な数字を入力して下さい",
        //deadline: "有効な日付を入力して下さい"
      },
		errorPlacement: function(error, element)
		{
			switch(element.attr('name')) {
				case "title":
					error.insertAfter($('.error_title_requ'));
				break;
				case "detail":
					error.insertAfter($('.error_detail_requ'));
				break;
				case "terms_check":
					error.insertAfter($('.error_terms_check_requ'));
				break;
			default:
				error.insertAfter(element);
			}
		}
    });

  });

  $('#submit-cancel').click(function() {
    location.href = '/mypage';
    return;
  });



  $('#submit-event').click(function() {
    var title = $('#title').val()
      //, description = $('#description').val()
      , detail      = $('#detail').val()
      //, target_num  = $('#target_num').val()
      //, deadline    = $('#deadline').val()
      //, rental_time = $('input[name=rental-time]:checked').val()
      , dec_image   = ''
      , thumb_image   = ''
      ;

    // 画像アップロードがあったら
    if ($('#dec_image').attr('src')) {
      dec_image = $('#dec_image').attr('src');
    }
    if ($('#thumb_image').attr('src')) {
      thumb_image = $('#thumb_image').attr('src');
    }

    // rental_time の計算
    //var date_obj = $.exDate(deadline, 'yyyy/mm/dd hh24:mi');
    //var date_rental;
    //switch(rental_time) {
    //  // 1000 == (ミリ秒=1秒)
    //  case '1d':
    //    date_obj.setTime(date_obj.getTime() + 1000*86400);
    //    date_rental = date_obj.toChar('yyyy/mm/dd hh24:mi');
    //    break;
    //  case '1w':
    //    break;
    //  case '1m':
    //    break;
    //  default:
    //    // 1h
    //    date_obj.setTime(date_obj.getTime() + 1000*3600);
    //    date_rental = date_obj.toChar('yyyy/mm/dd hh24:mi');
    //    break;
    //};



    var post_data = {
        title: title
    //  , description: description
      , detail:      detail
    //  , target_num:  target_num
    //  , deadline:    deadline
    //  , rental_time: date_rental
      , dec_image:   dec_image
      , thumb_image:   thumb_image
    };

    $.ajax({
      type: 'POST',
      url: '/create-event',
      data: post_data,
      success: function(data){
        if (data.flg_create) {

          // post成功
          location.href='/mypage';
        }
      },
      error: function(data){
        // error
      }
    });

    return false;
  });

//-->
</script>


<%- partial('footer') %>
<%- partial('footer-script') %>



</body>
</html>
