<!DOCTYPE HTML>
<html lang="ja">
<head>
<title>コミュニティを作る｜シャベリハウス</title>
<meta charset="UTF-8">
<meta name="description" content="twitterユーザーが趣味と興味でつながるリアルタイムなおしゃべり部屋。シャベリハウス">
<meta name="keywords" content="シャベリハウス,チャット,趣味,興味,twitter">
<script src="/js/globalcommon.js" charset="UTF-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/common.js" type="text/javascript" charset="UTF-8"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" charset="UTF-8"></script><![endif]-->
<link rel="stylesheet" href="/css/html5reset-1.6.1.css" />
<script type="text/javascript">
var uaiph = 0;
var uaand = 0;
var uaetc = 0;
	if(navigator.userAgent.indexOf('iPhone') != -1){
		document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />');
		document.write('<link rel="stylesheet" href="/css/common_smapho.css" />');
		document.write('<link rel="stylesheet" type="text/css" href="/css/style_smapho.css">');
		document.write('<link rel="stylesheet" href="/css/nyroModal_smapho.css">');
		document.write('<scr'+'ipt src="/js/jquery.nyroModal.customspaho.js" charset="UTF-8"></scr'+'ipt>');
		uaiph = 1;
	}else if(navigator.userAgent.indexOf('Android') != -1){
		document.write('<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />');
		document.write('<link rel="stylesheet" href="/css/common_smapho.css" />');
		document.write('<link rel="stylesheet" type="text/css" href="/css/style_smapho.css">');
		document.write('<link rel="stylesheet" href="/css/nyroModal_smapho.css">');
		document.write('<scr'+'ipt src="/js/jquery.nyroModal.customspaho.js" charset="UTF-8"></scr'+'ipt>');
		uaand = 1;
	}else{
		document.write('<link rel="stylesheet" type="text/css" href="/css/style.css">');
		document.write('<link rel="stylesheet" href="/css/common.css" />');
		document.write('<link rel="stylesheet" href="/css/nyroModal.css">');
		document.write('<scr'+'ipt src="/js/jquery.nyroModal.custom.js" charset="UTF-8"></scr'+'ipt>');
		uaetc = 1;
	}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="UTF-8"></script>
<script src="/js/upfile.js" charset="UTF-8"></script>
<script src="/js/jquery.tinyscrollbar.min.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#scrollbar1').tinyscrollbar();
});
</script>
<script>
<!--

function createHttpRequest(){
	if(window.ActiveXObject){
		try {
			return new ActiveXObject("Msxml2.XMLHTTP")
		} catch (e) {
			try {
				return new ActiveXObject("Microsoft.XMLHTTP")
			} catch (e2) {
				return null
			}
		}
	} else if(window.XMLHttpRequest){
		return new XMLHttpRequest()
	} else {
		return null
	}
}

//function getFacebookFriends(){
function getfbFriend(){
	var tim = new Date();
	var parameters = "tim=" + tim.getSeconds()+tim.getMilliseconds();
	var request = "/facebook-get-friends?"+parameters;
//	alert(request);
	var httpoj = createHttpRequest()
	httpoj.open( "GET" , request , true )
	httpoj.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8'); 
	httpoj.onreadystatechange = function(){ 
		if ((httpoj.readyState==4) && (httpoj.status == 200)){
			var args = {};
			var arr = httpoj.responseText;
			var json_text = eval("(" + arr + ")");
			var getFriendJson = eval("(" + json_text + ")");
			
			fbFriendList(getFriendJson["data"]);
			
		}
	}
	httpoj.send();
}

function fbFriendList(arr){
	var str = ""
	for( var i = 0 ; i < arr.length ; i++ ){
		str += '<li>';
		str += '	<div class="invite_li_input"><input type="checkbox" name="fb_'+arr[i]["id"]+'" id="fb_'+arr[i]["id"]+'" value="'+arr[i]["id"]+'" class="invite_table_td_tumnb_checkbox"></div>';
		str += '	<div class="invite_li_tumnb"><img src="https://graph.facebook.com/'+arr[i]["id"]+'/picture" width="40" height="40"></div>';
		str += '	<div class="invite_li_name">'+arr[i]["name"]+'</div>';
		str += '</li>';
	}
	document.getElementById("tab_1_area").innerHTML = str;
	$('#scrollbar1').tinyscrollbar();

}

if(window.addEventListener) {
	window.addEventListener("load", getfbFriend, false);
}
else if(window.attachEvent) {
	window.attachEvent("onload", getfbFriend);
}

// -->
</script>

</head>
<body>
<div id="wrapper">

<%- partial('header') %>

<form id="full-form-tag" name="full-form-tag" method="post" action="/create-event" enctype="multipart/form-data">
<div id="contents_wrapp">
	<div id="contents_wrapp_inside">
		<section id="make_community">
			<h3 id="makecommunity_h3"><img src="/images/makecommunity_h3.gif" width="125" height="18" alt=""></h3>
			<form action="" method="">
			<table id="makecommunity_table">
				<tr>
					<th><img src="/images/makecommunity_name.gif" width="100" height="30" alt="コミュニティ名"><br><span style="color:#FF1881">※必須</span></th>
					<td><div class="input_makecommunity_name_area"><input type="text" name="title" id="title" value=""></div></td>
				</tr>
				<tr>
					<th><img src="/images/makecommunity_tag.gif" width="100" height="15" alt="タグ"></th>
					<td id="makecommunity_table_tag clearfix">
						<input type="hidden" id="word_tag_num" name="word_tag_num" value="">
						<a href="javascript:void(0)" id="appned_Tag"><img src="/images/makecommunity_tagbox_close.gif" width="22" height="22" class="fltl mag11"></a>
					</td>
				</tr>
				<tr>
					<th><img src="/images/makecommunity_explain.gif" width="100" height="32" alt="説明"><br><span style="color:#FF1881">※必須</span></th>
					<!--td><div id="input_makecommunity_name_textarea"  id="detail" name="detail"><textarea></textarea></div></td-->
					<td><div id="input_makecommunity_name_textarea" ><textarea id="detail" name="detail"></textarea></div></td>
				</tr>

			<script>
			if(uaiph !=1){
				document.write('<tr>');
				document.write('<th>コニュニティ画像</th>');
				document.write('<td>');

				if(uaand == 1){
					document.write('<input type="file" size="30" name="thumb_image" id="thumb_image" style="font-size:5px;">');
				}else{
					document.write('<input type="file" size="30" name="thumb_image" id="thumb_image" onchange="changeFile();">');
					document.write('<div class="fileToImage" id="block">');
					document.write('<input type="file" name="file" id="file" class="hide" value="" onchange="changeFile();" />');
					document.write('</div>');
				}

				document.write('</td>');
				document.write('</tr>');
				document.write('<tr>');
				document.write('<th>背景画像</th>');
				document.write('<td>');

				if(uaand == 1){
					document.write('<input type="file" size="30" name="dec_image" id="dec_image" style="font-size:5px;">');
				}else{
					document.write('<input type="file" size="30" name="dec_image" id="dec_image" onchange="changeFile();">');
					document.write('<div class="fileToImage" id="block">');
					document.write('<input type="file" name="file" id="file" class="hide" value="" onchange="changeFile();" />');
					document.write('</div>');
				}

				document.write('</td>');
				document.write('</tr>');
			}
			</script>

			</table>
			<div id="makecommunity_detail">
				<!--a href="javascript:void(0);"><img src="/images/makecommunity_details.gif" width="91" height="39" alt="詳細設定" id="detailsetting"></a-->
				<div id="detail_box">
					<div id="detail_box_top"></div>
					<div id="detail_box_center">
						<div id="detail_box_close"><a href="javascript:void(0);"><img src="/images/makecommunity_detail_close.png" width="26" height="26"></a></div>
						<table id="detail_box_table">
							<tr>
								<th class="bdbt">プライバシー</th>
								<td class="bdbt"><input type="checkbox" name="" id="" value="" class="">公開</td>
							</tr>
							<tr>
								<th class="bdbt" rowspan="3">メンバー承認</th>
								<td><input type="checkbox" name="" id="" value="" class="">参加申請したメンバーは自動承認されます。</td>
							</tr>
							<tr>
								<td colspan="2"><input type="checkbox" name="" id="" value="" class="">メンバーは新メンバーを追加できます。</td>
							</tr>
							<tr>
								<td class="bdbt" colspan="2"><input type="checkbox" name="" id="" value="" class="">メンバーは新メンバーを追加できますが、管理人の承認が必要です。</td>
							</tr>
							<tr>
								<th rowspan="2">部屋作成の権限</th>
								<td><input type="checkbox" name="" id="" value="" class="">管理人・メンバーもチャット部屋を作成できます。</td>
							</tr>
							<tr>
								<td colspan="2"><input type="checkbox" name="" id="" value="" class="">管理人だけがチャット部屋を作成できます。</td>
							</tr>
						</table>
					</div>
					<div id="detail_box_bottom"></div>
				</div>
			</div>
		</section>
		<section id="make_community_invite" >
			<h3 id="makecommunity_invite_h3" style="display:none;"><img src="/images/makecommunity_invite_h3.gif" width="98" height="15" alt="友達を招待する"></h3>
			<div id="makecommunity_invite_tab" style="display:none;">
				<ul id="tab_ul" >
					<li id="tab_1" class="bg_ov top1px"><img src="/images/makecommunity_invite_fb.png" width="97" height="25" alt=""></li>
					<li id="tab_2"><img src="/images/makecommunity_invite_tw.png" width="98" height="25" alt=""></li>
					<li id="tab_3"><img src="/images/makecommunity_invite_mx.png" width="79" height="25" alt=""></li>
					<li id="tab_4"><img src="/images/makecommunity_invite_ml.png" width="41" height="25" alt=""></li>
				</ul>
				<div id="scrollbar1">
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview">

						<ul id="tab_1_area" class="tab_wrapp"></ul>

						<ul id="tab_2_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">2飯島　おさむ</div>
							</li>
						</ul>
						<ul id="tab_3_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">3飯島　おさむ</div>
							</li>
						</ul>
						<ul id="tab_4_area" class="tab_wrapp none">
							<li>
								<div class="invite_li_input"><input type="checkbox" name="" id="" value="" class="invite_table_td_tumnb_checkbox"></div>
								<div class="invite_li_tumnb"><img src="/images/top_thumb_s.jpg" width="40" height="40"></div>
								<div class="invite_li_name">4飯島　おさむ</div>
							</li>
						</ul>
						</div><!--/overview-->
					</div><!--/viewport-->
				</div><!--/scrollbar1-->
		</div><!--/makecommunity_invite_tab-->
			<div class="txtc magt20 magb200">
				<script>
				if(uaiph == 1 || uaand == 1){
					document.write('<input type="image" src="/images/makecommunity_invite_submit.png" width="100%" height="auto" alt="送信">');
				}else{
					document.write('<input type="image" src="/images/makecommunity_invite_submit.png" width="396" height="73" alt="送信">');
				}
				</script>
			</div>
		</section>
	</div><!--/#contents_wrapp_inside-->
</div><!--/#contents_wrapp-->
</form>






<div class="main-img"></div>
<div class="full-form">
<!--form id="full-form-tag" name="full-form-tag" method="post" action="/create-event" enctype="multipart/form-data">
		<h3>ROOM</h3>
		<div class="form-container">
			<div class="title">チャット部屋名</div>
			<div class="content"><input type="text" size="30" id="title" name="title" value=""></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div class="title">部屋の説明</div>
			<div class="content"><textarea cols="40" rows="10" id="detail" name="detail"></textarea></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div class="button">
				<span class="btn" id="submit-event">チャット部屋を作る</span>  <span class="btn" id="submit-cancel">キャンセル</span>
			</div>
		</div>
</form-->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<!--script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet"-->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js"></script>
<!--script src="/js/jquery.ui-timepicker.js"></script>
<script src="/js/jquery.exdate.js"></script-->
<script src="/js/jquery.autosize.min.js?v=1.0"></script>
<script src='/js/jquery.filedrop.js?v=1.0'></script>
<script src='/js/filedrop-script.js?v=1.0'></script>
<style type="text/css">
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
</style>


<script type="text/javascript">
<!--
  $().ready(function(){
    //$('#deadline').datetimepicker({
    //  //addSliderAccess: true
    //  //sliderAccessArgs: { touchonly: false }
    //});
    //$('#deadline').datepicker();
    //$('#description').autosize();
    $('#detail').autosize();


    $("#full-form-tag").validate({
      rules: {
        title: {
          required: true
        },
        //description: {
        //  required: true
        //},
        detail: {
          required: true
        },
        dec_image: {
          accept: "gif|jpeg|jpg|png"
        },
        thumb_image: {
          accept: "gif|jpeg|jpg|png"
        }
        //target_num: {
        //  required: true,
        //  number: true
        //},
        //deadline: {
        //  required: true,
        //  date: true
        //}
      },
      messages: {
        title: "タイトルを入力してください。",
        //description: "概要を入力して下さい",
        detail: "詳細な内容を入力して下さい",
        dec_image:"ファイル形式が違います",
        thumb_image:"ファイル形式が違います"
        //target_num: "有効な数字を入力して下さい",
        //deadline: "有効な日付を入力して下さい"
      },
      //errorClass: "alert-error",
      errorElement: "span"
    });

  });

  $('#submit-cancel').click(function() {
    location.href = '/mypage';
    return;
  });



  $('#submit-event').click(function() {
    var title = $('#title').val()
      //, description = $('#description').val()
      , detail      = $('#detail').val()
      //, target_num  = $('#target_num').val()
      //, deadline    = $('#deadline').val()
      //, rental_time = $('input[name=rental-time]:checked').val()
      , dec_image   = ''
      , thumb_image   = ''
      ;

    // 画像アップロードがあったら
    if ($('#dec_image').attr('src')) {
      dec_image = $('#dec_image').attr('src');
    }
    if ($('#thumb_image').attr('src')) {
      thumb_image = $('#thumb_image').attr('src');
    }

    // rental_time の計算
    //var date_obj = $.exDate(deadline, 'yyyy/mm/dd hh24:mi');
    //var date_rental;
    //switch(rental_time) {
    //  // 1000 == (ミリ秒=1秒)
    //  case '1d':
    //    date_obj.setTime(date_obj.getTime() + 1000*86400);
    //    date_rental = date_obj.toChar('yyyy/mm/dd hh24:mi');
    //    break;
    //  case '1w':
    //    break;
    //  case '1m':
    //    break;
    //  default:
    //    // 1h
    //    date_obj.setTime(date_obj.getTime() + 1000*3600);
    //    date_rental = date_obj.toChar('yyyy/mm/dd hh24:mi');
    //    break;
    //};



    var post_data = {
        title: title
    //  , description: description
      , detail:      detail
    //  , target_num:  target_num
    //  , deadline:    deadline
    //  , rental_time: date_rental
      , dec_image:   dec_image
      , thumb_image:   thumb_image
    };

    $.ajax({
      type: 'POST',
      url: '/create-event',
      data: post_data,
      success: function(data){
        if (data.flg_create) {

          // post成功
          location.href='/mypage';
        }
      },
      error: function(data){
        // error
      }
    });

    return false;
  });

//-->
</script>


<%- partial('footer') %>
<%- partial('footer-script') %>



</body>
</html>
