	<div class="main-img"></div>

	<div class="left-content">
			<ul>
				<li><a href="013.html"><div class="create btn">新しいEVENTを作る</div></a></li>
				<li>
					<div class="ticket-wrapper">
					<div class="left">
						<div class="icon"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"></div>
						<h3 class="title">照英の〇〇してる画像作ります！<br><span class="username">by kunmura</span><br><span class="tag">一緒に楽しむメンバ</span><span class="status-a">参加者募集中</span></h3>
						<div class="time">スタートまで:<span class="counter">残り23時間17分22秒</span></div>
						<div class="member">参加者:<span class="counter">残り982人</span>/1,000人</div>
					</div>
					<div class="right">
						<a href="000.html"><div class="button">参加</div></a>
						<a href="011.html"><div class="button">詳細</div></a>
					</div>
					<div class="participant">
						<img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg">
						</div>
					</div>
				</li>
				<li>
					<div class="ticket-wrapper">
					<div class="left">
						<div class="icon"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"></div>
						<h3 class="title">照英の〇〇してる画像作ります！<br><span class="username">by kunmura</span><br><span class="tag">一緒に楽しむメンバ</span><span class="status-b">オーディエンス募集中</span></h3>
						<div class="time">スタートまで:<span class="counter">残り23時間17分22秒</span></div>
						<div class="member">参加者:<span class="counter">1,000人</span>/1,000人</div>
					</div>
					<div class="right">
						<a href="000.html"><div class="button">参加</div></a>
						<a href="011.html"><div class="button">詳細</div></a>
					</div>
					<div class="participant">
						<img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg">
						</div>
					</div>
				</li>
				<li>
					<div class="ticket-wrapper">
					<div class="left">
						<div class="icon"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"></div>
						<h3 class="title">照英の〇〇してる画像作ります！<br><span class="username">by kunmura</span><br><span class="tag">一緒に楽しむメンバ</span><span class="status-a">募集中</span></h3>
						<div class="time">受付時間:<span class="counter">残り23時間17分22秒</span></div>
						<div class="member">参加者:<span class="counter">残り982人</span>/1,000人以上でSTART</div>
					</div>
					<div class="right">
						<a href="000.html"><div class="button">参加</div></a>
						<a href="011.html"><div class="button">詳細</div></a>
					</div>
					<div class="participant">
						<img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg"><img src="https://si0.twimg.com/profile_images/1724676347/kunmura_normal.jpg">
						</div>
					</div>
				</li>
				<li>
					<a href="010.html"><div class="ticket-wrapper-button">もっと見る</div></a>
				</li>
			</ul>
		</div>

	<div class="right-content">
		<!--div class="AD"><img src="img/AD_350x240.gif"></div-->
		<h2 class="title-sub">HOT EVENTS</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">もうすぐスタート！</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
		</h2><h2 class="title-sub">参加人数ランキング</h2><h2>
		<ul>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
			<a href="011.html"><li class="btn-sub">照英の〇〇してる画像作ります！</li></a>
		</ul>
	</h2></div>
<div class="clear"></div>
