!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title dotOne サクセス一覧
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le HTML5 shim, for IE6-8 support of HTML elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le styles 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(href='/css/bootstrap.min.responsive', rel='stylesheet')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    script(src='/js/jquery-1.7.1.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') dotOne
          .nav-collapse
            ul.nav
              li
                a(href='/dec') 宣言一覧
              li.active
                a(href='/suc') サクセス一覧
              li
                a(href='/what') dot1について
            ul.nav.pull-right
              li
                a(href="/mypage") マイページ
          //
            /.nav-collapse 
    .container
      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 サクセスストーリー
      ul.nav.nav-tabs
        li.active
          a(href='#') みんなの宣言
      //
         Example row of columns 
      .row
        for declaration in declaration_list
          .span4
            h2 #{declaration.title}
            .well
              p #{declaration.description}
              h3 サクセスおめでとう！！
 
              p
                a.btn(href='//rank-life.com/blogs/view/#{declaration.id}') 詳細 »
      hr
      footer
        p © Company 2012
    //
       /container 
    //
       Placed at the end of the document so the pages load faster 
    script(src='/socket.io/socket.io.js')
    style(type="text/css")
      @import "/js/countdown/jquery.countdown.css";
    script(src="/js/countdown/jquery.countdown.min.js")
    script(src="/js/countdown/jquery.countdown-ja.js")
  //
    script(src='js/bootstrap-transition.js')
    script(src='js/bootstrap-alert.js')
    script(src='js/bootstrap-modal.js')
    script(src='js/bootstrap-dropdown.js')
    script(src='js/bootstrap-scrollspy.js')
    script(src='js/bootstrap-tab.js')
    script(src='js/bootstrap-tooltip.js')
    script(src='js/bootstrap-popover.js')
    script(src='js/bootstrap-button.js')
    script(src='js/bootstrap-collapse.js')
    script(src='js/bootstrap-carousel.js')
    script(src='js/bootstrap-typeahead.js')


    script(type="text/javascript")

