<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>dotOne 宣言一覧</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="img/logo_mini_bw.png" alt="dotOne" height="25px"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">宣言一覧</a></li>
              <li><a href="#about">サクセス一覧</a></li>
              <li><a href="#contact">dot1について</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>宣言中の活動</h1>
      </div>
	  
	  <ul class="nav nav-tabs">
		<li class="active">
			<a href="#">みんなの宣言</a>
		</li>
	  </ul>
	
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>10代向けiPhoneアプリつくります！</h2>
          <div class="well">
          	<p>10代の男女２０人集まったら、10代向けのiPhoneアプリ作ります！</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 20%;"></div>
          	</div>
          	<h3>４／２０人　残り３日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <h2>勇気を下さい！すきな人に告白します</h2>
          <div class="well">
          	<p>１０人集まったら、すきな人に告白します！勇気を下さい。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 80%;"></div>
          	</div>
          	<h3>８／１０人　残り４時間</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
       </div>
        <div class="span4">
          <h2>友人と駅前の掃除します</h2>
          <div class="well">
          	<p>友人５人と駅前の掃除します。応援してくださる方、参加してくださる方募集です。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 50%;"></div>
          	</div>
          	<h3>５／１０人　残り４日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h2>我が家のマル秘レシピ</h2>
          <div class="well">
          	<p>友人５人と駅前の掃除します。応援してくださる方、参加してくださる方募集です。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 10%;"></div>
          	</div>
          	<h3>１００／１０００人　残り５日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <h2>ひとりディズニーランド</h2>
          <div class="well">
          	<p>100人が応援してくれたら、ひとりディズニーランド実況します。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 93%;"></div>
          	</div>
          	<h3>９３／１００人　残り１日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <h2>TSUTAYAの店員とつき合った話</h2>
          <div class="well">
          	<p>10人の方が興味持ってくださったら、わたしがTSUTAYAの店員とつき合った話を公開します。。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 30%;"></div>
          	</div>
          	<h3>３／１０人　残り１日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h2>すっぴん公開します by 石原さとみ</h2>
          <div class="well">
          	<p>1万人の方が応援してくださったら、わたしのすっぴんを公開します。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 33%;"></div>
          	</div>
          	<h3>３２５／１００００人　残り７日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <h2>イラスト描きます</h2>
          <div class="well">
          	<p>100人が応援してくれたら、みんなの意見を合わせたイラスト描きます。</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 67%;"></div>
          	</div>
          	<h3>６７／１００人　残り７日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
        <div class="span4">
          <h2>曲作ります</h2>
          <div class="well">
          	<p>曲を作ります！参加してくださった方に先行リリースします！</p>
          	<div class="progress progress-info progress-striped">
          		<div class="bar" style="width: 45%;"></div>
          	</div>
          	<h3>４５３／１０００人　残り３日</h3>
          	<p><a class="btn" href="#">詳細 &raquo;</a></p>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>
