<div class="main-img"></div>
<h2 class="title">INITIAL SETTING</h2>
<div class="full-form">
<form id="full-form-tag" name="full-form-tag" method="post" action="/firstset">
		<h3>USER INFO</h3>
		<!--div class="form-container">
			<div class="title">性別</div>
			<div class="content">
				<select id="sex" name="sex">
					<option value="1">男性</option>
					<option value="2">女性</option>
				</select>
			</div>
			<div class="side"></div>
		</div-->
		<!--div class="form-container">
			<div class="title">年齢</div>
			<div class="content">
				<select id="age" name="age">
					<option value="1">10代</option>
					<option value="2">20代</option>
					<option value="3">30代</option>
					<option value="4">40代</option>
					<option value="5">50代</option>
					<option value="6">60代</option>
					<option value="7">70代</option>
					<option value="8">80代</option>
				</select>
			</div>
			<div class="side"></div>
		</div-->
		<div class="form-container">
			<div class="title">メールアドレス</div>
			<div class="content"><input type="text" size="30" id="mail_addr" name="mail_addr"></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div class="button">
				<span class="btn" id="submit-event">設定する</span>  <span class="btn">キャンセル</span>
			</div>
		</div>
</form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js"></script>

<script type="text/javascript">
<!--
  $().ready(function(){

    $("#full-form-tag").validate({
      rules: {
//        sex: {
//          required: true
//        },
//        age: {
//          required: true
//        },
        mail_addr: {
          required: true,
          email: true
        }
      },
      messages: {
//        sex: "性別を選んでください。",
//        age: "年齢を選んでください。",
        mail_addr: "有効なメールアドレスを入力して下さい"
      },
      //errorClass: "alert-error",
      errorElement: "span"
    });

  });

  $('#submit-event').click(function() {
//    var sex = $('#sex option:selected').val()
//      , age = $('#age option:selected').val()
//      , mail_addr = $('#mail_addr').val()
//      ;
    var mail_addr = $('#mail_addr').val();

    var post_data = {
      mail_addr: mail_addr
//        sex: sex
//      , age: age
//      , mail_addr: mail_addr
    };

    $.ajax({
      type: 'POST',
      url: '/firstset',
      data: post_data,
      success: function(data){
        if (data.flg_firstset) {
          // post成功
          location.href='/mypage';
        }
      },
      error: function(data){
        // error
      }
    });

    return false;
  });

//-->
</script>
