<footer>
 <div class="footer">
 <div class="footer-content">
 <a href="/terms">利用規約</a>
 </div>
 </div>
 <div class="footerbottom">
 Copyright:(C) 2012 NTT Resonant Inc. All Rights Reserved.
 </div>
</footer>
