<% if (typeof onetime_token !== 'undefined' && onetime_token) { %>
<input type="hidden" id="onetime_token" name="onetime_token" value="<%= onetime_token %>">
<% } %>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/js/countdown/jquery.countdown-ja.js"></script>

<script type="text/javascript">
<!--
/**
 * 「もっと見る」で出すイベントを１０件生成します。
 * 
 * @class イベントリストの生成クラスです。<br>
 * clickイベントにより、イベントリストを１０件生成。
 * 
 */
$('#view-more-events').click(function() {
	insert_contents();
});


function insert_contents(){
  
  $('#view-more-events').hide();
  $('#view-more-loader').show();
  

  $.ajax({
    type: "GET",
    url: "/get-events",
    data: {last_id: last_id, limit:10 , dec_status: 2},
    success: function(data){
    	//console.log(data);

	if(data.text=="no result"){
		alert("no result");
		$('#roadmore').hide();
	}else{
		$('#grid-content').append( makeEventListParts(data) );
		$('#view-more-loader').hide();
		$('#view-more-events').show();
	}
    },
    error: function(data){
      // error
    }
  });
}

/**
 * EVENTを１件リスト用に生成します。
 * 
 * @class イベントリストの生成クラスです。<br>
 * event_dataの内容に合わせてリストを生成します。
 * 
 * @param {object} event_data	イベントデータ
 */
function makeEventListParts(data) {

	var write_data = '';

	//サイズ違いのarticleに対応するための変数
	var size;
	var widever;
	var topthumb;
	var thumb;
	var nowprinting;
	var thumbWidth;
	var thumbHeight;
	var table;
	var article_ul;
	var join;
	var top_to_detail;
	var live;
	var supporter_image_limit;

	for( var i=0; i<10; i++ ){

		//表示するものがあるかどうか
		if(data.event_data[i]){
			
			//表示するものがある場合

			last_id =data.event_data[i].id;
			

			if(i==0 || i==9){
				//サイズの大きいarticleの場合
				size="m";
			 	widever = "widever";
				topthumb = "topthumb_b";
				thumb="thumb_m";
				nowprinting="nowprinting_m";
				thumbWidth = 457;
				thumbHeight = 247;
				table="table_b";
				article_ul='article_ul_b';
				join="join_b";

				if(uaiph ==1 || uaand == 1){
					top_to_detail = "top_to_detail";
				}else{
					top_to_detail = "top_to_detail_b";
				}

				live = "live_b";
				supporter_image_limit = 18;

				data.event_data[i].title = data.event_data[i].title.slice(0,50);  if( data.event_data[i].title.length == 50 ){ data.event_data[i].title = data.event_data[i].title+"…"; };
				data.event_data[i].detail = data.event_data[i].detail.slice(0,100); if( data.event_data[i].detail.length == 100 ){ data.event_data[i].detail = data.event_data[i].detail+"…"; };

			}else{
				if(uaiph ==1 || uaand == 1){
					//サイズの大きいarticleの場合
					size="max-width:m";
				 	widever = "widever";
					topthumb = "topthumb_b";
					thumb="thumb_m";
					nowprinting="nowprinting_m";
					thumbWidth = 457;
					thumbHeight = 247;
					table="table_b";
					article_ul='article_ul_b';
					join="join_b";
					top_to_detail = "top_to_detail";
					live = "live_b";
					supporter_image_limit = 18;

					data.event_data[i].title = data.event_data[i].title.slice(0,50);  if( data.event_data[i].title.length == 50 ){ data.event_data[i].title = data.event_data[i].title+"…"; };
					data.event_data[i].detail = data.event_data[i].detail.slice(0,100); if( data.event_data[i].detail.length == 100 ){ data.event_data[i].detail = data.event_data[i].detail+"…"; };
				}else{
					//サイズの小さいarticleの場合
					size="s";
					widever = "";
					topthumb = "topthumb";
					thumb = "thumb_s";
					nowprinting = "nowprinting_s";
					thumbWidth = 215;
					thumbHeight = 111;
					table="table_s";
					article_ul='article_ul';
					join="join";
					top_to_detail = "top_to_detail";
					live = "live";
					supporter_image_limit = 12;

					data.event_data[i].title = data.event_data[i].title.slice(0,13);  if( data.event_data[i].title.length == 13 ){ data.event_data[i].title = data.event_data[i].title+"…"; };
					data.event_data[i].detail = data.event_data[i].detail.slice(0,35); if( data.event_data[i].detail.length == 35 ){ data.event_data[i].detail = data.event_data[i].detail+"…"; };
				}
			}


			if( i==1 || i==5 ){
				if(uaiph ==1 || uaand == 1){
					//サイズの小さいarticle4個をdivに格納
					write_data += '<div>';
				}else{
					//サイズの小さいarticle4個をdivに格納
					write_data += '<div style="width:480px; float:left;">';
				}
			};


			write_data += '<article class="'+widever+'">';
			if(data.event_data[i].live){
			write_data += '<div class="'+live+'">LIVE</div>';
			}
			write_data += '<div class="'+topthumb+'"><a href="/dec/'+last_id+'"><img src="/data/'+last_id+'/images/'+thumb+'.jpg" onerror=\'this.src="/images/common/'+nowprinting+'.jpg"\'  class="dec_thumb_'+size+'"></a></div>'
			write_data += '<h3><a href="/dec/'+last_id+'">'+data.event_data[i].title+'</a></h3>';
			write_data += '<p>'+data.event_data[i].detail+'</p>';
			write_data += '<table class="'+table+'">';
				write_data += '<tr>';
				write_data += '<td>';
					write_data += '<ul class="'+article_ul+'" id="dec-supporters-'+last_id+'">';
					write_data += '</ul>';
				write_data += '</td>';
				write_data += '<td class="'+join+'">'+data.event_data[i].supporter_num+'<span>人<br>参加</span></td>';
				write_data += '</tr>';
			write_data += '</table>';

				if(uaiph ==1 || uaand == 1){
					write_data += '<div class="to_detailb padt5 padl10">';
				}else{
					write_data += '<div class="to_detail padt5 padl10">';
				}

				write_data += '<a href="/dec/'+last_id+'"><img src="/images/'+top_to_detail+'.gif" alt="詳細"></a>';
			write_data += '</div>';
			write_data += '</article>';
				
		



			$().ready(function(){
				$.ajax({
					type: "GET",
					url: "/get-supporters",
					data: {id: data.event_data[i].id , limit:supporter_image_limit},
					success: function(data){
					console.log(data);
						var img_tag = '';
						for (var j = 0; j < data.supporter_data.length; j++){
						// imgタグを作成
						img_tag += '<li><a herf="/"><img src="'+data.supporter_data[j].image+'"></a></li>';
					}
						$('#dec-supporters-'+data.supporter_data[0].c_id).append(img_tag);
					},
						error: function(data){
						// error
					}
				});
			});



			if(i==4 || i==8){
				//サイズの小さいarticle4個をdivに格納 閉じ
				write_data += '</div>';
			}





		}else{
			//表示するものがない場合「SHOW MORE CONTENTS」消す
			$('#roadmore').hide();
		}
	}


	/**
	* イベントリスト
	* @return {String}
	*/
	return write_data;
}






/**
 * HouseLogを１件リスト用に生成します。
 * 
 * @class イベントリストの生成クラスです。<br>
 * event_dataの内容に合わせてリストを生成します。
 * 
 * @param {object} event_data	イベントデータ
 */
function makeSuccessListParts(event_data) {



    var write_data = '';
    write_data += '<li>';
    write_data += '<div class="ticket-wrapper">';
    write_data += '<div class="left">';
    write_data += '<h3 class="title-noicon">';
    write_data += event_data.title+'<br>';
    /*
     * 募集中タグの削除 4.11 km
    write_data += event_data.title+'<br><span class="tag">一緒に楽しむメンバ</span>';
     */
    write_data += '</h3>';
    /*
    write_data += '<div class="view" id="view_'+event_data.id+'">';
    write_data += 'view:';
    write_data += '</div>';
	*/
	/*
	write_data += '<div class="member" id="member-parts-area'+event_data.id+'">';
	write_data += makeSuccessMemberParts(event_data.target_num,event_data.supporter_num);
	write_data += '</div>';
	*/
	write_data += '</div>';
	write_data += '<div class="right">';
	write_data += '	<a href="/suc/'+event_data.id+'"><div class="btn">見る</div></a>';
	write_data += '</div>';
    write_data += '<div class="participant" id="dec-supporters-'+event_data.id+'">'+makeMemberParts(event_data.id, event_data.target_num, event_data.supporter_num)+'</div>';
    write_data += makeParticipantParts(event_data.id);	//participant script
    write_data += '</li>';
    /**
     * イベントリスト
     * @return {String}
     */
    return write_data;
}

/**
 * 残り時間を生成します。
 * 
 * @class 残り時間の生成クラスです。<br>
 * デッドラインを受け取り、現在時刻からのカウントダウンをします。
 * 
 * @param {string} deadline	デッドラインタイム
 * @param {int} id	デッドラインID
 */
function makeCountDownParts(deadline,id){
	var write_data = '';
    write_data += '				    <script type="text/javascript">';
    write_data += '						var obj = $(function(){';
    write_data += '							var d_obj = new Date("'+deadline+'");';
	write_data += '							var now_obj = new Date();';
	write_data += '							console.log(now_obj < d_obj);';
	write_data += '							if( now_obj < d_obj ){';
    write_data += '								$("#deadline_'+id+'").countdown({';
	write_data += '									until: d_obj,';
	write_data += '									layout: "残り{d<}{dn}日と{d>}{h<}{hn}時間{h>}{m<}{mnn}分{m>}{snn}秒",';
	write_data += '									format: "dhms"';
	write_data += '								});';
	write_data += '							} else {';
	write_data += '								$("#deadline_time_'+id+'").html("");';
    write_data += '							}';
    write_data += '						});';
    write_data += '					</scr'+'ipt>';
	/**
     * イベントリスト
     * @return {String}
     */
    return write_data;
}

function makeMemberParts(event_id, target_num, supporter_num){


	var write_data = '';
	//var write_data = '<span class="member-count" id="member-counter-'+event_id+'">';
	//write_data += supporter_num+'人参加</span>';
	/*
	 * 参加者最大値の削除 4.11 km
	if (target_num === supporter_num) {
		write_data += '<span class="counter" id="member-counter-'+event_id+'">'
		write_data += supporter_num+'人</span>/'+target_num+'人';
	} else {
		write_data += '<span class="counter" id="member-counter-'+event_id+'">'
		write_data += '残り'+(target_num-supporter_num)+'人</span>/'+target_num+'人';
	}
	*/
	return write_data;
}

function makeSuccessMemberParts(target_num,supporter_num){
	var write_data = '参加者: ';
	write_data += supporter_num+'人/'+target_num+'人';
	return write_data;
}

function makeParticipantParts(id){
	var write_data = '';
	write_data += '<script type="text/javascript">';
	write_data += '$().ready(function(){';
	write_data += '$.ajax({';
	write_data += 'type: "GET",';
	write_data += 'url: "/get-supporters",';
	write_data += 'data: {id: '+id+', limit: 20},';
	write_data += 'success: function(data){';
	write_data += 'var img_tag = "";';
	write_data += 'if (!data.supporter_data) {return false;}';
	write_data += 'for (var j = 0; j < data.supporter_data.length; j++){';
//	write_data += 'img_tag += \'<img src="\'+data.supporter_data[j].image+\'">\';';
	write_data += 'var img_id = '+id+';';
	write_data += 'img_id += \'__\'+data.supporter_data[j].id;';
	
	if(location.pathname == "/"){
		write_data += 'img_tag += \'<li><img src="\'+data.supporter_data[j].image+\'" id="sup-icon-\'+img_id+\'" width="40"></li>\';';
	}else if(location.pathname.search(/dec/) == 1){
		write_data += 'img_tag += \'<div class="joined_thumbs"><img src="\'+data.supporter_data[j].image+\'" id="sup-icon-\'+img_id+\'" width="40"></div>\';';
	}else{
		write_data += 'img_tag += \'<li><img src="\'+data.supporter_data[j].image+\'" id="sup-icon-\'+img_id+\'" width="22"></li>\';';
	}
	
	write_data += '}';
	write_data += '$("#dec-supporters-'+id+'").append(img_tag);';
	write_data += '},';
	write_data += 'error: function(data){';
	write_data += '}';
	write_data += '});';
	write_data += '});';
	write_data += '</scr'+'ipt>';
	return write_data;
}


function makeDeleteChatRoomParts(id) {
	var write_data = '';
	write_data += '<script type="text/javascript">';
	write_data += '$().ready(function(){';
	write_data += '$.ajax({';
	write_data += 'type: "GET",';
	write_data += 'url: "/get-is-owner",';
	write_data += 'data: {dec_id: '+id+'},';
	write_data += 'success: function(data){';
	write_data += '  if (data.res_flg) {';
	write_data += '    $("#delete-button-right-'+id+'").show();';
	write_data += '  } else {';
	write_data += '    $("#delete-button-right-'+id+'").hide();';
	write_data += '  }';
	write_data += '},';
	write_data += 'error: function(data){';
	write_data += '  $("#delete-button-right-'+id+'").hide();';
	write_data += '}';
	write_data += '});';
	write_data += '});';
	write_data += '</scr'+'ipt>';
	return write_data;
}


function makeCheckStatusJoinParts(event_id, target_num, supporter_num) {
  var write_data = '';
  write_data += '<script type="text/javascript">';
  /*
   * 
  write_data += '  if ('+target_num+' === '+supporter_num+') {';
  write_data += '    $("#join-button-right-'+event_id+'").parent().parent().html(\'<div class="btned">満員</div><a href="/dec/'+event_id+'"><div class="btn">詳細</div></a>\');';
  write_data += '  } else {';
  */
  write_data += '    $.ajax({';
  write_data += "      type: 'GET',";
  write_data += "      url: '/get-is-supporters',";
  write_data += '      data: {dec_id: '+event_id+'},';
  write_data += '      success: function(data){';
  write_data += '        if (data.res_flg) {';
  write_data += '          $("#room-button-right-'+event_id+'").show();';
  write_data += '          $("#cancel-join-button-right-'+event_id+'").show();';
  write_data += '        } else {';
  write_data += '          $("#join-button-right-'+event_id+'").show();';
  write_data += '          $("#room-button-right-'+event_id+'").hide();';
  write_data += '          $("#cancel-join-button-right-'+event_id+'").hide();';
  write_data += '        }';
  write_data += '      },';
  write_data += '      error: function(data){';
  write_data += '        if (data.status === 401) {';
  write_data += '          $("#room-button-right-'+event_id+'").hide();';
  write_data += '          $("#cancel-join-button-right-'+event_id+'").hide();';
  write_data += '        }';
  write_data += '      }';
  write_data += '    });';
  /*
   * 
  write_data += '  }';
   */
  write_data += '</scr'+'ipt>';
  return write_data;
}



$('a[name="join-button-right"], a[name="join-button-bottom"]').live('click', function() {



  var obj = $(this);
  var event_obj = obj.find('li');
  var event_id  = event_obj.attr('id');
  event_id = parseInt(event_id.match(/[0-9]+/));

  var loader_img = $('<img src="/img/loader-mini.gif">');
  event_obj.html(loader_img);

  $.ajax({
    type: 'POST',
    url: '/join-commit',
    data: {id: event_id},
    success: function(data){
      if (data.join_flg === 'ok') {
      
      
      
        // 参加した
//        $('#join-button-right-'+event_id).parent().parent().html('<a href="/ch/'+event_id+'"><div class="btn2">会場</div></a><a href="/dec/'+event_id+'"><div class="btn">詳細</div></a>');
        $('#join-button-right-'+event_id).hide();
        $('#room-button-right-'+event_id).show();

//        $('#join-button-bottom-'+event_id).parent().parent().html('<a href="/ch/'+event_id+'"><div class="btn2">会場</div></a>');
        $('#join-button-bottom-'+event_id).hide();
        $('#room-button-bottom-'+event_id).show();

        // 人数も変更
        var sup_cnt = $('#member-counter-'+event_id).text();
        sup_cnt = parseInt(sup_cnt.match(/[0-9]+/)) + 1;
        if (sup_cnt > 0) {
          $('#member-counter-'+event_id).text(sup_cnt+'人参加');
        } else {
//          $('#member-counter-'+event_id).html('<div class="btned">満員</div><a href="/dec/'+event_id+'"><div class="btn">詳細</div></a>');
        }

        // アイコンも追加
        var user_icon = $('<img>').attr('src', data.user_image);
        $('#dec-supporters-'+event_id).append(user_icon);
      }

    },
    error: function(data){
      // error
    }
  });

  return false;
});


$('a[name="dec-delete-button"]').live('click', function() {
  if (window.confirm('本当に削除しますか？')) {

  } else {
    return false;
  }

  var obj = $(this);
  var event_obj = obj;
  var event_id  = event_obj.attr('id');
  event_id = parseInt(event_id);

  //var loader_img = $('<img src="/img/loader-mini.gif">');
  //event_obj.html(loader_img);

  var onetime_token = $('#onetime_token').val();

  $.ajax({
    type: 'POST',
    url: '/delete-dec',
    data: {dec_id: event_id, onetime_token: onetime_token},
    success: function(data){
      if (data.flg_delete_dec === 'ok') {
        alert("削除されました");
	location.href='/mypage';
      }

    },
    error: function(data){
      // error
      obj.hide();
      alert('エラーが発生しました');
    }
  });

  return false;
});


$('a[name="delete-button-right"]').live('click', function() {
  if (window.confirm('本当に削除しますか？')) {

  } else {
    return false;
  }

  var obj = $(this);
  var event_obj = obj;
  var event_id  = event_obj.attr('id');
  event_id = parseInt(event_id.match(/[0-9]+/));

  var loader_img = $('<img src="/img/loader-mini.gif">');
  event_obj.html(loader_img);

  var onetime_token = $('#onetime_token').val();

  $.ajax({
    type: 'POST',
    url: '/delete-chatroom',
    data: {dec_id: event_id, onetime_token: onetime_token},
    success: function(data){
      if (data.flg_delete_chatroom === 'ok') {
        // 削除した
        $('#article_room_'+event_id).animate({height:'hide', opacity:'hide'}, "slow",
          function() {$('#article_room_'+event_id).remove();}
        );
      }

    },
    error: function(data){
      // error
      obj.hide();
      alert('エラーが発生しました');
    }
  });

  return false;
});


$('a[name="cancel-join-button-right"]').live('click', function() {
  if (window.confirm('本当に参加取り消しますか？')) {

  } else {
    return false;
  }

  var obj = $(this);
  var event_obj = obj.find('li');
  var event_id  = event_obj.attr('id');
  event_id = parseInt(event_id.match(/[0-9]+/));

  var loader_img = $('<img src="/img/loader-mini.gif">');
  event_obj.html(loader_img);

  $.ajax({
    type: 'POST',
    url: '/cancel-join',
    data: {dec_id: event_id},
    success: function(data){
      if (data.flg_cancel_join === 'ok') {
        // 削除した
        $('#sup-icon-'+event_id+'__'+data.auth_user_id).animate({height:'hide', opacity:'hide'}, "slow",
          function() {
            $('#sup-icon-'+event_id+'__'+data.auth_user_id).remove();
            var member_counter = $('#member-counter-'+event_id).text();
            member_counter = parseInt(member_counter.match(/[0-9]+/));
            if (member_counter > 0) {
              member_counter--;
              $('#member-counter-'+event_id).text(member_counter+'人参加');
              $('#room-button-right-'+event_id).hide();
              $('#join-button-right-'+event_id).show();
            }
            event_obj.empty();
          }
        );
      }

    },
    error: function(data){
      // error
    }
  });

  return false;
});


// DOMがロードされて操作・解析が可能になったタイミングで関数を実行
function __isLogin() {

  $.ajax({
    type: 'GET',
    url: '/get-is-login',
    data: {},
    success: function(data){
      if (data.login_flg) {	//ログイン済
      	//alert("ログイン済");
        $('#auth-login-twitter').hide();
        $('#auth-logout').show();
        $('#mypage-href').show();

	if((ReadCookie("name") != data.user_name) && (ReadCookie("thumb") != data.user_image)){
		set_cookie( 'name' , '' );
		set_cookie( 'thumb' , '' );
	}

	if((ReadCookie("name") == "") && (ReadCookie("thumb") == "")){
	        $('#header_right_table #header_mypage_thumb_img').attr('src', data.user_image);
	        document.getElementById('header_mypage_name_h2').innerHTML = data.user_name;
	        //$('#header_right_table').show();
	 
	 	//名前をcookieにセット
		set_cookie("name",encodeURIComponent(data.user_name));
		//サムネイルパスをcookieにセット
		set_cookie("thumb",data.user_image);
 	}
      }
    },
    error: function(data){
      // error
    }
  });
}

if(window.addEventListener) {
	window.addEventListener("load", __isLogin, false);
}
else if(window.attachEvent) {
	window.attachEvent("onload", __isLogin);
}


//-->

</script>
