<footer>
	<div id="footer_upper">
		<ul id="footer_link">
			<li><a href="#"><img src="/images/footer_top.gif" width="93" height="11" alt="トップページ"></a></li>
			<li><a href="#"><img src="/images/footer_makeroom.gif" width="94" height="11" alt="部屋をつくる"></a></li>
			<li><a href="#"><img src="/images/footer_serchroom.gif" width="82" height="11" alt="部屋を探す"></a></li>
			<li><a href="#"><img src="/images/footer_mypage.gif" width="82" height="11" alt="マイページ"></a></li>
		</ul>
	</div>
	<div id="footer_under"><img src="/images/footer_copy.gif" width="140" height="11" alt="2012 syaberi-house.com"></div>
</footer>


<!--footer>
 <div class="footer">
 <div class="footer-content">
 <a href="/terms">利用規約</a>｜<a href="http://help.goo.ne.jp/">お問い合わせ</a>｜※対応環境: <a href="http://www.google.co.jp/chrome/">Google Chrome</a>
 </div>
 </div>
 <div class="footerbottom">
 Copyright:(C) 2012 NTT Resonant Inc. All Rights Reserved.
 </div>
</footer-->