<header>
 <div class="header">
 <div class="header-content">
	<a href="/"><div class="logo" name="SYABERI-HOUSE"></div></a>
	<nav>
	<div class="menu">
		<ul>
			<li><a href="/dec">EVENTS</a></li>
			<li><a href="/suc">HOUSE LOG</a></li>
			<li><a href="/about">ABOUT</a></li>
		</ul>
	</div>
	<div class="menu-right">
		<ul>
			<li id="auth-login-twitter"><a href="/auth/twitter">LOGIN</a></li>
			<li id="mypage-href" style="display:none;"><a href="/mypage">MY PAGE</a></li>
			<li id="auth-icon-img" style="display:none;" class="icon"><img src=""></li>
		</ul>
	</div>
	</nav>
	<div class="clear"></div>
 </div>
 </div>
</header>
