<header>
	<div id="header_wrapp">
		<div id="header_left">
			<h1><a href="/"><img src="/images/common/logo.gif" width="133" height="60" alt="SYABERI HOUSE"></a></h1>
		</div><!--/header_left-->
		<div id="header_center">
			<table id="header_center_table">
				<tr>
					<td>
						<a href="javascript:void(0);" id="fukidashi" style="display:none;"></a>
						<div id="fukidashi_notification_wrapp"></div><!--/fukidashi_notification_wrapp-->
					</td>
					<td>
						<form id="serch_box" method="get" action="/search">
							<input type="text" id="input_area" value="コミュニティを探す" name="search_str" onfocus="if(this.value=='コミュニティを探す'){this.value='';}" onblur="if(this.value==''){this.value='コミュニティを探す';}" />
							<input type="image" name="submit" src="/images/common/serchbox_submit_s.gif" id="serch_submit" />
						</form>
						<div id="tag_word">
							<a href="javascript:void(0);"><img src="/images/common/tag.png" width="71" height="26" alt="TAG" id="header_tag"></a>
							<a href="/search?search_str=速報">速報</a>
							<a href="/search?search_str=画像">画像</a>
							<a href="/search?search_str=教えて">教えて</a>
							<a href="/search?search_str=猫">猫</a>
							<a href="/search?search_str=グルメ">グルメ</a>
							<a href="/search?search_str=旅行">旅行</a>
						</div>
						<div id="tag_notification_wrapp">
							<div class="pad10 fontb bg_g">注目タグ</div>
							<div class="tag_nortification_txt bdtp">■□□□□□□□□□■□□□□□□□□□■□□□□■□□□□□□■□□□□□□□■□□□■□□□□□■□□□□□□□□□□</div>
							<div class="tag_nortification_txt bdtp">■□□□□□□□□□■□□□□□□□■□□□■□□□□□■□□□□□□□□□□■□□□□□□□■□□□■□□□□□■□□□□□□</div>
							<div class="tag_nortification_txt bdtp">■□□□□□□□□□■□□□■□□□□□□□□□■□□□□■□□□□□□□■□□□■□□□□□■□□□□□□□□□□□□</div>
						</div><!--/tag_notification_wrapp-->
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div><!--/header_center-->



		<%if( is_auth_login){ %>


			<div id="header_right">

				<table id="header_right_table">
					<tr>
						<td id="header_mypage_thumb"><div><img id="header_mypage_thumb_img" src="" width="40" height="40"></div></td>
						<td id="header_mypage_name"><h2 id="header_mypage_name_h2"></h2></td>
						<td id="header_mypage_pull"><a href="#"><img src="/images/common/pull.png" width="26" height="26" id="mypage_pull"></a></td>
					</tr>
				</table>
				<div id="mypage_notification_wrapp">
					<a href="/mypage" class="mypage_nortification_txt"><div>マイページ</div></a>
					<!--a href="/my-setting" class="mypage_nortification_txt"><div>マイページ設定</div></a-->
					<!--a href="/my-setting" class="mypage_nortification_txt"><div>制作した部屋の設定</div></a-->
					<a href="/create-dec" class="mypage_nortification_txt"><div>コミュニティを作る</div></a>
					<a href="/search" class="mypage_nortification_txt"><div>コミュニティを探す</div></a>
					<a href="javascript:logout( '/logout' );" class="mypage_nortification_txt"><div>ログアウト</div></a>
				</div><!--/mypage_notification_wrapp-->

			</div>
<script>
if((ReadCookie("name") != "") && (ReadCookie("thumb") != "")){
	//	alert("ok");
	document.getElementById("header_mypage_thumb_img").src = ReadCookie("thumb");
	document.getElementById("header_mypage_name_h2").innerHTML = ReadCookie("name");
}

$('#fukidashi').css('display', 'block');

</script>
		<% }else{ %>

			<div id="header_register">
				<ul>
					<li><a href="javascript:void(0);" id="login_button_facebook"><img src="/images/header_login_facebook.gif" width="80" height="26" alt="facebookログイン"></a></li>
					<li><a href="/auth/twitter" id="login_button_twetter"><img src="/images/header_login_twetter.gif" width="80" height="26" alt="twetterログイン"></a></li>
				</ul>

				
			</div>

<script>
$('#fukidashi').css('display', 'none');
</script>

		<% } %>

		<div id="fb-root"></div>
	</div>




<!-- facebook oauth -->
<script>

	$().ready(function(){

	// お知らせの中身を作成する
	$.ajax({
		type: 'GET',
		url: '/get-informations',
		data:{limit:10},
		success: function(data)
		{
		console.log( data.info_coount );
			$("#fukidashi").text(data.info_coount);
			var a_tag = '<div id="oshirase_top"></div><div id="oshirase_midl">';
			for (var ii = 0; ii < data.info_coount; ii++)
			{
				a_tag += '<div class="fukidashi_nortification_txt"><a href="' + data.info_list[ii].url + '">' + data.info_list[ii].comment + '</a></div>';
			}
			a_tag += '</div>';
			$("#fukidashi_notification_wrapp").text("");
			$("#fukidashi_notification_wrapp").append(a_tag);
		},
		error: function(data)
		{
		console.log( "bbbbb" );
			$("#fukidashi").text("0");
		}
	});
  });

window.fbAsyncInit = function() {

FB.init({ appId: fb_appId,
	status: true, 
	cookie: true,
	xfbml: true,
	oauth: true
});

	function updateButton(response) {
	
		var loginButton_facebook = document.getElementById('login_button_facebook');
		//しゃべりハウスのfacebookログイン
		if ((response.authResponse) && (syaberi_login_flag == true))
		{
			//alert("ログイン済/"+syaberi_login_flag);
		}
		else
		{
			//alert("ログイン前/"+syaberi_login_flag);
			loginButton_facebook.onclick = function() {
				FB.login(function(response) {
					if (response.authResponse) {
						FB.api('/me', function(response) {
						userInfo.innerHTML = 
							'<img src="https://graph.facebook.com/' 
							+ response.id + '/picture" style="margin-right:5px" />'
							+ response.name;
					});
					} else {
						//user cancelled login or did not grant authorization
					}
			}, {scope:'email,publish_stream,manage_pages,read_friendlists,friends_activities',redirect_uri: location.protocol+"//"+ location.host +"/oauth/facebook"});
		}
	}

	}

	FB.getLoginStatus(updateButton);
	FB.Event.subscribe('auth.statusChange', updateButton);
};

(function() {
  var e = document.createElement('script'); e.async = true;
  e.src = document.location.protocol + '//connect.facebook.net/ja_JP/all.js';
  document.getElementById('fb-root').appendChild(e);
}());

</script>
<!-- /facebook oauth -->




</header>
