<header>
	<div id="header_wrapp">
		<div id="header_left">
			<h1><a href="/"><img src="/images/common/logo.gif" width="133" height="60" alt="SYABERI HOUSE"></a></h1>
		</div><!--/header_left-->
		<div id="header_center">
			<table id="header_center_table">
				<tr>
					<td>
						<a href="javascript:void(0);" id="fukidashi" style="display:none;">5</a>
						<div id="fukidashi_notification_wrapp">
							<div id="oshirase_top"></div>
							<div id="oshirase_midl">
								<div class="fukidashi_nortification_txt">AAAコミュニティに ○×チャットルームができました。</div>
								<div class="fukidashi_nortification_txt">AAAコミュニティに □□□□さん 他150人参加しました□□□□さん 他150人参加しました。</div>
								<div class="fukidashi_nortification_txt">AAAコミュニティの ○×チャットルームに□□□□さん </div>
							</div>
							<div id="oshirase_bott"><a href="#">他10人がいます。</a></div>
						</div><!--/fukidashi_notification_wrapp-->
					</td>
					<td>
						<form id="serch_box" method="get" action="/search">
							<input type="text" id="input_area" value="コミュニティを探す" name="search_str" onfocus="if(this.value=='コミュニティを探す'){this.value='';}" onblur="if(this.value==''){this.value='コミュニティを探す';}" />
							<input type="image" name="submit" src="/images/common/serchbox_submit_s.gif" id="serch_submit" />
						</form>
						<div id="tag_word">
							<a href="javascript:void(0);"><img src="/images/common/tag.png" width="71" height="26" alt="TAG" id="header_tag"></a>
							<a href="/search?search_str=tag">tag</a>
							<a href="/search?search_str=iphone">iphone</a>
							<a href="/search?search_str=タグテスト">タグテスト</a>
							<a href="/search?search_str=foo">foo</a>
							<a href="/search?search_str=bar">bar</a>
						</div>
						<div id="tag_notification_wrapp">
							<div class="pad10 fontb bg_g">注目タグ</div>
							<div class="tag_nortification_txt bdtp">■□□□□□□□□□■□□□□□□□□□■□□□□■□□□□□□■□□□□□□□■□□□■□□□□□■□□□□□□□□□□</div>
							<div class="tag_nortification_txt bdtp">■□□□□□□□□□■□□□□□□□■□□□■□□□□□■□□□□□□□□□□■□□□□□□□■□□□■□□□□□■□□□□□□</div>
							<div class="tag_nortification_txt bdtp">■□□□□□□□□□■□□□■□□□□□□□□□■□□□□■□□□□□□□■□□□■□□□□□■□□□□□□□□□□□□</div>
						</div><!--/tag_notification_wrapp-->
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div><!--/header_center-->



		<%if( is_auth_login){ %>


			<div id="header_right">

				<table id="header_right_table">
					<tr>
						<td id="header_mypage_thumb"><div><img id="header_mypage_thumb_img" src="" width="40" height="40"></div></td>
						<td id="header_mypage_name"><h2 id="header_mypage_name_h2"></h2></td>
						<td id="header_mypage_pull"><a href="#"><img src="/images/common/pull.png" width="26" height="26" id="mypage_pull"></a></td>
					</tr>
				</table>
				<div id="mypage_notification_wrapp">
					<a href="/mypage" class="mypage_nortification_txt"><div>マイページ</div></a>
					<a href="/my-setting" class="mypage_nortification_txt"><div>マイページ設定</div></a>
					<a href="/my-setting" class="mypage_nortification_txt"><div>制作した部屋の設定</div></a>
					<a href="/create-dec" class="mypage_nortification_txt"><div>コミュニティを作る</div></a>
					<a href="/search" class="mypage_nortification_txt"><div>コミュニティを探す</div></a>
					<a href="javascript:logout( '/logout' , 'TW_FRIEND_FLAG' , '0' );" class="mypage_nortification_txt"><div>ログアウト</div></a>
				</div><!--/mypage_notification_wrapp-->

			</div>


		<% }else{ %>

			<div id="header_register">
				<ul>
					<li><a href="javascript:void(0);" id="login_button_facebook"><img src="/images/header_login_facebook.gif" width="80" height="26" alt="facebookログイン"></a></li>
					<li><a href="/auth/twitter" id="login_button_twetter"><img src="/images/header_login_twetter.gif" width="80" height="26" alt="twetterログイン"></a></li>
				</ul>

				
			</div>

		<% } %>

		<div id="fb-root"></div>
	</div>




<!-- facebook oauth -->
<script>
 
window.fbAsyncInit = function() {

FB.init({ appId: fb_appId,
	status: true, 
	cookie: true,
	xfbml: true,
	oauth: true
});

	function updateButton(response) {
	
		var loginButton_facebook = document.getElementById('login_button_facebook');
		loginButton_facebook.onclick = function() {
			FB.login(function(response) {
			    if (response.authResponse) {
			        FB.api('/me', function(response) {
			            userInfo.innerHTML = 
			              '<img src="https://graph.facebook.com/' 
			              + response.id + '/picture" style="margin-right:5px" />'
			              + response.name;
			        });
			    } else {
			        //user cancelled login or did not grant authorization
			    }
			}, {scope:'email,publish_stream,manage_pages,read_friendlists,friends_activities',redirect_uri: location.protocol+"//"+ location.host +"/oauth/facebook"});
		}

	}

	FB.getLoginStatus(updateButton);
	FB.Event.subscribe('auth.statusChange', updateButton);
};

(function() {
  var e = document.createElement('script'); e.async = true;
  e.src = document.location.protocol + '//connect.facebook.net/ja_JP/all.js';
  document.getElementById('fb-root').appendChild(e);
}());

</script>
<!-- /facebook oauth -->




</header>
