<!DOCTYPE HTML>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<!-- head -->
<head>
<title>syaberi-house</title>
<!-- meta -->
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<!-- meta ogp -->
<meta property="go:title" content="">
<meta property="go:type" content="site">
<meta property="go:url" content="">
<meta property="go:description" content="">
<meta property="go:image" content="">
<meta property="go:site_name" content="syaberi-house">
<meta property="fb:page_id" content="">
<!-- link -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="css/home.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="js/iscroll.js"></script>
</head>

<!-- body -->
<body class="home">

<div id="container"><!-- container -->

<div id="wrapper"><!-- wrapper -->
<div id="scroller"><!-- iscroller -->

<!-- header -->
<header id="globalheader">
	<div class="logo">
		<h3><img src="./img/logo-mini.png" alt="syaberi-house"></h3>
	</div>
</header>

<!-- content-wrapper -->
<section id="content-wrapper">

<div class="container"><!-- container -->
<div class="overlay-home"></div>
<div class="content"><!-- content -->

	<div class="content-header"><!-- content-header -->
	</div><!-- /content-header -->
	<div style="clear:both;"></div>
	
	<div class="content-body"><!-- content-body -->
		<center>
		<img src="img/homelogo.png" alt="シャベリヤ" width="200px">
		<div class="login-home">
			<a href="index-logedin.html">twitter login</a>
		</div>
		</center>
	</div><!-- /content-body -->
	<div style="clear:both;"></div>

</div><!-- /container -->
</div><!-- /content -->
</section>

<!-- footer -->
<footer id="globalfooter">
</footer>

</div><!-- /iscroller -->
</div><!-- /wrapper -->

<!-- audience -->
<div id="footer">
</div>

</div><!-- /container -->

</body>

</html>