<!DOCTYPE HTML>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<!-- head -->
<head>
<title>syaberi-house</title>
<!-- meta -->
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<!-- meta ogp -->
<meta property="go:title" content="">
<meta property="go:type" content="site">
<meta property="go:url" content="">
<meta property="go:description" content="">
<meta property="go:image" content="">
<meta property="go:site_name" content="syaberi-house">
<meta property="fb:page_id" content="">
<!-- link -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="css/mypage.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="js/iscroll.js"></script>
</head>

<!-- body -->
<body class="mypage">

<div id="container"><!-- container -->

<div id="wrapper"><!-- wrapper -->
<div id="scroller"><!-- iscroller -->

<!-- header -->
<header id="globalheader">
	<div class="logo">
		<h3><img src="./img/logo-mini.png" alt="syaberi-house"></h3>
	</div>
</header>

<!-- content-wrapper -->
<section id="content-wrapper">

<div class="container"><!-- container -->
<div class="overlay-home"></div>
<div class="content"><!-- content -->

	<div class="content-header"><!-- content-header -->
		<div class="title"><!-- title -->
			<img src="img/homelogo-mini.png" alt="シャベリ家 syaberi-house" class="logo">
		</div><!-- /title -->
		<div class="user"><!-- user -->
			<div class="icon"><img src="http://a2.twimg.com/profile_images/1662356984/454143842_-_____normal.jpg"></div>
			<div class="name">キョンピ</div>
		</div><!-- /user -->
	</div><!-- /content-header -->
	<div style="clear:both;"></div>
	
	<div class="content-body"><!-- content-body -->
		<div class="houses"><!-- houses -->

			<div class="live"><!-- live -->
			<div class="house"><!-- house -->
				<div class="badge">
					<img src="./img/live-badge.png">
				</div>
				<div class="img" style="background-image:url('http://img4.blogs.yahoo.co.jp/ybi/1/bb/5a/love_dream_peace_snp/folder/277530/img_277530_4203912_0?1317999387');"></div>
				<div class="title">
[公式ハウス]少女時代スターバックスコラボ記念LiveChat</div>
			</div><!-- /house -->
			<div class="house"><!-- house -->
				<div class="badge">
					<img src="./img/live-badge.png">
				</div>
				<div class="img" style="background-image:url('http://img4.blogs.yahoo.co.jp/ybi/1/bb/5a/love_dream_peace_snp/folder/277530/img_277530_4203912_0?1317999387');"></div>
				<div class="title">
[公式ハウス]少女時代スターバックスコラボ記念LiveChat</div>
			</div><!-- /house -->
			<div class="house"><!-- house -->
				<div class="badge">
					<img src="./img/live-badge.png">
				</div>
				<div class="img" style="background-image:url('http://img4.blogs.yahoo.co.jp/ybi/1/bb/5a/love_dream_peace_snp/folder/277530/img_277530_4203912_0?1317999387');"></div>
				<div class="title">
[公式ハウス]少女時代スターバックスコラボ記念LiveChat</div>
			</div><!-- /house -->
			<div class="house"><!-- house -->
				<div class="badge">
					<img src="./img/live-badge.png">
				</div>
				<div class="img" style="background-image:url('http://img4.blogs.yahoo.co.jp/ybi/1/bb/5a/love_dream_peace_snp/folder/277530/img_277530_4203912_0?1317999387');"></div>
				<div class="title">
[公式ハウス]少女時代スターバックスコラボ記念LiveChat</div>
			</div><!-- /house -->
			</div><!-- /live -->
			<div style="clear:both;"></div>
			
			<div class="blog"><!-- blog -->
			<div class="house"><!-- house -->
				<div class="img" style="background-image:url('http://img4.blogs.yahoo.co.jp/ybi/1/bb/5a/love_dream_peace_snp/folder/277530/img_277530_4203912_0?1317999387');"></div>
				<div class="title">
[公式ハウス]少女時代スターバックスコラボ記念LiveChat</div>
			</div><!-- /house -->
			</div><!-- /blog -->

		</div><!-- /houses -->
		<div style="clear:both;"></div>
	</div><!-- /content-body -->
	<div style="clear:both;"></div>

</div><!-- /container -->
</div><!-- /content -->
</section>

<!-- footer -->
<footer id="globalfooter">
</footer>

</div><!-- /iscroller -->
</div><!-- /wrapper -->

<!-- audience -->
<div id="footer">
</div>

</div><!-- /container -->

</body>

</html>