!!! 5
html(lang='ja', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://www.facebook.com/2008/fbml')
  //
     head 
  head
    title syaberi-house
    //
       meta 
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //
       meta ogp 
    meta(property='go:title', content='')
    meta(property='go:type', content='site')
    meta(property='go:url', content='')
    meta(property='go:description', content='')
    meta(property='go:image', content='')
    meta(property='go:site_name', content='syaberi-house')
    meta(property='fb:page_id', content='')
    //
       link 
    link(href='/css/style.css', rel='stylesheet', type='text/css', media='all')
    link(href='/css/home.css', rel='stylesheet', type='text/css', media='all')
    script(src='/js/iscroll.js', type='text/javascript')

  //
     body 
  body.home
    #container
      //
         container 
      #wrapper
        //
           wrapper 
        #scroller
          //
             iscroller 
          //
             header 
          header#globalheader
            .logo
              h3
                img(src='/img/logo-mini.png', alt='syaberi-house')
          //
             content-wrapper 
          section#content-wrapper
            .container
              //
                 container 
              .overlay-home
              .content
                //
                   content 
                .content-header
                  //
                     content-header 
                //
                   /content-header 
                div(style='clear: both;')
                .content-body
                  //
                     content-body 
                  center
                    img(src='/img/homelogo.png', alt='シャベリ家 syaberi-house')
                    .login-home
                      a(href='/auth/twitter')
                        img(src='/img/sign-in-with-twitter-l.png', style='margin:2em')
                      img(src='/img/facebook-login-button.png', style='margin:2em')
                      img(src='/img/mixi-login_btn.gif', style='margin:2em')
                //
                   /content-body 
                div(style='clear: both;')
              //
                 /container 
            //
               /content 
          //
             footer 
          footer#globalfooter
        //
           /iscroller 
      //
         /wrapper 
      //
         audience 
      #footer
    //
       /container 
