<!DOCTYPE HTML>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
	<title>SYABERI-HOUSE</title>
	<meta charset="UTF-8">
	<meta name="description" content="みんなで楽しむチャット型のイベントサービス。SYABERI-HOUSE">
	<meta name="keywords" content="シャベリハウス,syaberi-house,チャット,イベント">
<!-- ogp -->
	<meta property="og:title" content="SYABERI-HOUSE">
	<!--meta property="og:type" content="site"-->
	<!--meta property="go:url" content=""-->
	<meta property="og:description" content="みんなで楽しむチャット型のイベントサービス。SYABERI-HOUSE">
	<meta property="og:image" content="http://syaberi-house.com/img/syaberi-house_logomini.png">
	<meta property="og:site_name" content="syaberi-house">
	<meta property="fb:page_id" content="374958809181094">
<!-- css -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
<!-- js -->
	<script type="text/javascript" src="/js/iscroll.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>

<%- partial('header') %>

<section>
 <div class="main" id="main">
 <div class="main-content">
   <%- body %>
 </div>
 </div>
</section>

<%- partial('footer') %>
<%- partial('footer-script') %>
</body>
</html>
