<div class="main-img"></div>
<h2 class="title">設定変更</h2>
<div class="full-form">
<div id="msg-area"></div>
<form id="full-form-tag" name="full-form-tag" method="post" action="/profile-change">
		<h3>USER INFO</h3>
		<div class="form-container">
			<div class="title">メールアドレス</div>
			<div class="content"><input type="text" size="30" id="mail_addr" name="mail_addr" value="<%= user_data[0].mail_addr %>"></div>
			<div class="side"></div>
		</div>
		<div class="form-container">
			<div id="img-loader" class="btn" style="text-align:center;padding:20px;display:none;"><img src="/img/loader.gif" /></div>
			<div class="button">
				<span class="btn" id="submit-event">変更する</span>  <span class="btn">キャンセル</span>
			</div>
		</div>
</form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js"></script>

<script type="text/javascript">
<!--
  $().ready(function(){

    $("#full-form-tag").validate({
      rules: {
        mail_addr: {
          required: true,
          email: true
        }
      },
      messages: {
        mail_addr: "有効なメールアドレスを入力して下さい"
      },
      //errorClass: "alert-error",
      errorElement: "span"
    });

  });

  $('#submit-event').click(function() {
    var mail_addr = $('#mail_addr').val();

    $('#img-loader').show();
    var post_data = {
      mail_addr: mail_addr
    };

    $.ajax({
      type: 'POST',
      url: '/profile-change',
      data: post_data,
      success: function(data){
        if (data.flg_profile_change) {
          // post成功
          $('#img-loader').hide();
          $('#msg-area').text('変更完了しました');
        }
      },
      error: function(data){
        // error
      }
    });

    return false;
  });

//-->
</script>
