<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>dotOne kunmura</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap.min.responsive" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">dotOne</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">宣言一覧</a></li>
              <li><a href="#about">サクセス一覧</a></li>
              <li><a href="#contact">dot1について</a></li>
            </ul>
            <ul class="nav pull-right">
            <li class="active"><a href="#">マイページ</a></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
    <div class="container">
    
    <ul class="breadcrumb">
    	<li>
    		<a href="#">Home</a> <span class="divider">/</span>
    	</li>
    	<li>
    		マイページ
    	</li>
    </ul>
    
    <div class="row">
    	<div class="span2">
    		<h1><img src="icon.jpeg" width="100px"> kunmura</h1>
			<p>メッセージ</p>
			<p>設定</p>
    	</div>
		
		<div class="span10">
		
			<div class="row">
	  					<div class="span10">
	  						<h2>10代向けiPhoneアプリつくります！</h2>
          					<div class="well">
          						<p>10代の男女２０人集まったら、10代向けのiPhoneアプリ作ります！</p>
        					  	<h3>成立済み</h3>
       					   	<p><a class="btn btn-primary" href="">スタートする &raquo;</a></p>
       					   </div>
      					 </div>
	  				</div>
			
        	<ul class="nav nav-tabs">
				<li class="active">
					<a href="#1" data-toggle="tab">参加リスト</a>
				</li>
				<li>
					<a href="#2" data-toggle="tab">サクセスリスト</a>
				</li>
	  		</ul>
	  	
	  		<!-- tab-content tab-pane id=1 -->
	  		<div class="tab-content">
	  			<div class="tab-pane active" id="1">
	  				
	  				<div class="row">
	  					<div class="span10">
	  						<blockquote>
	  							<p>成立済みの宣言</p>
	  						</blockquote>
	  					</div>
   					    <div class="span5">
          					<h2>他人の宣言</h2>
          					<div class="well">
          						<p>他人の宣言の説明文</p>
        					  	<h3>成立済み</h3>
       					   	<p><a class="btn btn-primary" href="">見に行く &raquo;</a></p>
       					   </div>
      					  </div>
   					    </div>
    				  </div>
    				  
    				  <div class="row">
    				  	<div class="span10">
	  						<blockquote>
	  							<p>募集中の宣言</p>
	  						</blockquote>
	  					</div>
        				<div class="span5">
          					<h2>10代向けiPhoneアプリつくります！</h2>
          					<div class="well">
          						<p>10代の男女２０人集まったら、10代向けのiPhoneアプリ作ります！</p>
          						<div class="progress progress-info progress-striped">
         					 		<div class="bar" style="width: 20%;"></div>
        					  	</div>
        					  	<h3>４／２０人　残り３日</h3>
       					   	<p><a class="btn" href="declaration_detail.html">詳細 &raquo;</a></p>
       					   </div>
      					  </div>
      					 <div class="span5">
          					<h2>10代向けiPhoneアプリつくります！</h2>
          					<div class="well">
          						<p>10代の男女２０人集まったら、10代向けのiPhoneアプリ作ります！</p>
          						<div class="progress progress-info progress-striped">
         					 		<div class="bar" style="width: 20%;"></div>
        					  	</div>
        					  	<h3>４／２０人　残り３日</h3>
       					   	<p><a class="btn" href="declaration_detail.html">詳細 &raquo;</a></p>
       					   </div>
      					  </div>
    				  </div>
    				  
    				  <div class="row">
    				  	<div class="span10">
	  						<blockquote>
	  							<p>挫折した宣言</p>
	  						</blockquote>
	  					</div>
    				   <div class="span5">
     					     <h2>勇気を下さい！すきな人に告白します</h2>
    					      <div class="well">
    					      	<p>１０人集まったら、すきな人に告白します！勇気を下さい。</p>
   					       	<h3>この宣言は挫折しました</h3>
   						       	<p><a class="btn" href="#">詳細 &raquo;</a></p>
   					       </div>
   					    </div>
   					   </div>
	  				
	  			</div>
	  		</div>
	  	</div>
	</div>
	</div>
	
	<hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>
