!!! 5
html(lang='ja')
  head
    meta(charset='utf-8')
    title syaberiya
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le HTML5 shim, for IE6-8 support of HTML elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le styles 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap.min.responsive', rel='stylesheet')
    style
      body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    //
       Le fav and touch icons 
    //
          <link rel="shortcut icon" href="images/favicon.ico">
          <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
          <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
          <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
          
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.i-bar
            span.i-bar
            span.i-bar
          a.brand(href='#') シャベリヤ
          .nav-collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
          //
            /.nav-collapse 
    .container
      h1 初期設定が必要です
      p 性別、年齢、メールアドレス等を教えて下さい
    //
       /container 

      form.form-horizontal(id="form-firstset", method="post", action="/firstset")
        div.control-group
          label.control-label(for="sex") 性別
          div.controls
            select#sex(name="sex")
              option(value="1") 男性
              option(value="2") 女性


        div.control-group
          label.control-label(for="age") 年齢
          div.controls
            select#age(name="age")
              option(value="1") 10代
              option(value="2") 20代
              option(value="3") 30代
              option(value="4") 40代
              option(value="5") 50代
              option(value="6") 60代
              option(value="7") 70代
              option(value="8") 80代


        div.control-group
          label.control-label(for="mail_addr") メールアドレス
          div.controls
            div.input-prepend
              span.add-on
                i.icon-envelope
              input.input-xlarge(type="text", id="mail_addr", name="mail_addr")
              p.help-block emailアドレスを入力してください


        div.form-actions
          button(type="submit", class="btn btn-primary") 設定する
          button(type="reset", class="btn") キャンセル


    //
       Le javascript
    //
       Placed at the end of the document so the pages load faster 
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
    script(src='/js/jquery-1.7.1.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_ja.js')
    //
          <script src="/js/bootstrap-transition.js"></script>
          <script src="/js/bootstrap-alert.js"></script>
          <script src="/js/bootstrap-modal.js"></script>
          <script src="/js/bootstrap-dropdown.js"></script>
          <script src="/js/bootstrap-scrollspy.js"></script>
          <script src="/js/bootstrap-tab.js"></script>
          <script src="/js/bootstrap-tooltip.js"></script>
          <script src="/js/bootstrap-popover.js"></script>
          <script src="/js/bootstrap-button.js"></script>
          <script src="/js/bootstrap-collapse.js"></script>
          <script src="/js/bootstrap-carousel.js"></script>
          <script src="/js/bootstrap-typeahead.js"></script>



    script(type="text/javascript")

      $().ready(function(){
        $("#form-firstset").validate({
          rules: {
            mail_addr: {
              required: true,
              email: true
            }
          },
          messages: {
            mail_addr: "有効なEメールアドレスを入力してください。"
          },
          errorClass: "alert-error",
          errorElement: "span"
        });
      });
