/*
 * content-wrapper
 *
 *
 */
#content-wrapper{
	margin: 0 auto;
    text-align: center;
	width: 1000px;
}
#content-wrapper .content{
	width: 960px;
	padding: 6px 4px 6px 4px;
	background: #FFFFFF;
	border: #DFDFDF 1px solid;
	text-align: left;
}

#content-wrapper .content-header{
}
#content-wrapper .content-header .badge{
	position: relative;
	top: -8px;
	left: -20px;
	z-index: 1;
	height: 0px;
}
#content-wrapper .content-header .title{
	float: left;
	padding: 16px 3px 10px 0;
}
#content-wrapper .content-header .title h1{
	font-size: 20px;
}
#content-wrapper .content-header .title p{
	font-size: 14px;
	padding-top: 4px;
	padding-left: 4px;
}
#content-wrapper .content-header .member-face{
	float: right;
	padding-top: 12px;
}
#content-wrapper .content-header .member-face ul{
	list-style: none;
}
#content-wrapper .content-header .member-face li{
	float: left;
	width: 48px;
	height: 48px;
	background-color: #333;
}
#content-wrapper .content-header .member-face li img{
	width: 48px;
	height: 48px;
}

#content-wrapper .content-body{
	padding-top: 5px;
}
#content-wrapper .content-body .main-view{
	float: left;
	width: 500px;
}
#content-wrapper .content-body .main-view .title{
	height: 20px;
	color: #73b847;
	font-size: 14px;
	font-weight: bold;
}
#content-wrapper .content-body .main-view .view{
	height: 460px;
	background-color: #fff;
	opacity:0.85;
	-moz-opacity:0.85; /* older Gecko-based browsers */
	filter:alpha(opacity=85); /* For IE6&7 */
}
#content-wrapper .content-body .main-view .audience{
	height: 500px;
	background-color: #fafafa;
}
#content-wrapper .content-body .main-chat{
	float: right;
	width: 440px;
	/*border: red 1px solid;*/
}
#content-wrapper .content-body .main-chat .title{
	height: 20px;
	color: #73b847;
	font-size: 14px;
	font-weight: bold;
}
#content-wrapper .content-body .main-view .inputleft{
	position: relative;
	top: 24px;
	left: -5px;
	z-index: 1;
	height: 0px;
}
#content-wrapper .content-body .input{
	width: 100%;
	border: #999 1px solid;
	background-color: #fff;
	border-radius: 2px;/* CSS3草案 */  
    -webkit-border-radius: 2px;/* Safari,Google Chrome用 */  
    -moz-border-radius: 2px;/* Firefox用 */
}
#content-wrapper .content-body .input .inputContainer textarea{
	background: none repeat scroll 0 0 transparent;
	border-width: 0;
	font-size: 13px;
	width: 430px;
	height: 50px;
	margin: 0;
	outline: medium none;
	padding: 3px;
	resize: none;
	vertical-align: bottom;
	background-color: #fff;
}
#content-wrapper .content-body .input .buttonContainer{
	text-align: right;
	padding: 5px;
	border-top: 1px #ddd solid;
	background-color: #fafafa;
}
#content-wrapper .content-body .input .submitBtn{
	/*background-image: url("../img/button_bg.png");*/
	background-color: #303333;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 2px;
    padding: 2px 16px;
}

#content-wrapper .content-body .main-chat .chat{
	padding: 16px 0;
}
#content-wrapper .content-body .main-chat .chat .chat-content{
	padding-top: 14px;
	margin-bottom: 10px;
	border-top: #dfdfdf 1px solid;
}
#content-wrapper .content-body .main-chat .chat .chat-content .icon{
	float: left;
	padding-left: 3px;
}
	#content-wrapper .content-body .main-chat .chat .chat-content .icon img{
		width: 48px;
	}
#content-wrapper .content-body .main-chat .chat .chat-content .voice{
	vertical-align: top;
	margin-left: 60px;
	padding-top: 2px;
	font-size: 14px;
	/*border-left: #999 1px solid;*/
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .name{
	font-weight: bold;
	color: #73b847;
	padding-top: 1px;
	padding-bottom: 4px;
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .img{
	width: 250px;
	margin-top: 10px;
	border: #fff 4px solid;
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .time{
	width: 100%;
	padding-top: 3px;
	text-align: right;
	font-size: 10px;
	color: #999;
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .delete_cmt{
	width: 100%;
	padding-top: 3px;
	text-align: right;
	font-size: 12px;
	color: #999;
}