/* 
syaberi-house.net Layout Stylesheet
v0.0.2
Last Updated: 2011-12-04
Author: Kunshiro Murayama
*/

body.chat{
	/*background-image: url("http://0117893.lolipop.jp/wallpaper/2011/akb/AKB48_30.jpg");
	background-repeat: no-repeat;*/
	/*background-image: url("/img/shiba.jpg");
	background-repeat: no-repeat;*/
	/*background-image: url("../img/pattern_01.jpg");
	background-repeat: repeat;*/

	background-position: top center;
	background-color: #fafafa;
	
	color: #303333;
	line-height: 1.28;
}

.overlay{
	position:absolute;
	top:0; /* These positions makes sure that the overlay */
	bottom:0;  /* will cover the entire parent */
	left:0;
	width:100%;
	background:#ffffff;
	opacity:0.9;
	-moz-opacity:0.9; /* older Gecko-based browsers */
	filter:alpha(opacity=90); /* For IE6&7 */
}
.container-old {
	position: relative;
	float: left;
}
.content {
	position: relative; /* Fixes the z-index */
	float: left;
}

/*
 * wrapper
 *
 *
 */
/*body > #wrapper {
        height: auto;
}
#wrapper{
	width: 100%;
	position: relative;
	height: 100%;
    min-height: 100%;
}*/

#wrapper {
	position:absolute; z-index:1;
	top:0px; bottom:48px; left:0;
	width:100%;
	overflow:auto;
}


/*
 * header
 *
 *
 */
#globalheader{
	width: 100%;
	height: 36px;
}
#globalheader .logo{
	float: right;
	padding: 2px 10px 0px 0px;
}

/*
 * content-wrapper
 *
 *
 */
#content-wrapper{
	margin: 0 auto;
    text-align: center;
	width: 1000px;
}
#content-wrapper .content{
	width: 960px;
	padding: 6px 18px 6px 18px;
	border: #e6e6e6 2px solid;
	text-align: left;
}

#content-wrapper .content-header{
}
#content-wrapper .content-header .badge{
	position: relative;
	top: -8px;
	left: -20px;
	z-index: 1;
	height: 0px;
}
#content-wrapper .content-header .title{
	float: left;
	padding: 16px 3px 10px 0;
}
#content-wrapper .content-header .title h1{
	font-size: 20px;
}
#content-wrapper .content-header .title p{
	font-size: 12px;
	padding-top: 4px;
	padding-left: 4px;
}
#content-wrapper .content-header .member-face{
	float: right;
	padding-top: 12px;
}
#content-wrapper .content-header .member-face ul{
	list-style: none;
}
#content-wrapper .content-header .member-face li{
	float: left;
	width: 48px;
	height: 48px;
	background-color: #333;
}
#content-wrapper .content-header .member-face li img{
	width: 48px;
	height: 48px;
}

#content-wrapper .content-body{
	padding-top: 5px;
}
#content-wrapper .content-body .main-view{
	float: right;
	width: 500px;
}
#content-wrapper .content-body .main-view .title{
	height: 20px;
	color: #73b847;
	font-size: 12px;
	font-weight: bold;
}
#content-wrapper .content-body .main-view .view{
	height: 460px;
	/*background-color: #fff;*/
	opacity:0.85;
	-moz-opacity:0.85; /* older Gecko-based browsers */
	filter:alpha(opacity=85); /* For IE6&7 */
}
#content-wrapper .content-body .main-view .audience{
	height: 500px;
	/*background-color: #fafafa;*/
}
#content-wrapper .content-body .main-chat{
	float: left;
	width: 430px;
	padding: 0 10px;
	/*border: red 1px solid;*/
}
#content-wrapper .content-body .main-chat .title{
	height: 20px;
	color: #73b847;
	font-size: 12px;
	font-weight: bold;
}
#content-wrapper .content-body .main-view .inputleft{
	position: relative;
	top: 24px;
	left: -5px;
	z-index: 1;
	height: 0px;
}
#content-wrapper .content-body .main-view .input{
	width: 100%;
	border: #999 1px solid;
	background-color: #fff;
	border-radius: 2px;/* CSS3草案 */  
    -webkit-border-radius: 2px;/* Safari,Google Chrome用 */  
    -moz-border-radius: 2px;/* Firefox用 */
}
#content-wrapper .content-body .main-view .input .inputContainer textarea{
	background: none repeat scroll 0 0 transparent;
	border-width: 0;
	font-size: 13px;
	width: 494px;
	height: 50px;
	margin: 0;
	outline: medium none;
	padding: 3px;
	resize: none;
	vertical-align: bottom;
	background-color: #fff;
}
#content-wrapper .content-body .main-view .input .buttonContainer{
	text-align: right;
	padding: 5px;
	border-top: 1px #ddd solid;
	background-color: #fafafa;
}
#content-wrapper .content-body .main-view .input .submitBtn{
	/*background-image: url("../img/button_bg.png");*/
	background-color: #303333;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 2px;
    padding: 2px 16px;
}

#content-wrapper .content-body .main-chat .chat{
	padding: 16px 0;
}
#content-wrapper .content-body .main-chat .chat .chat-content{
	padding-top: 14px;
	margin-bottom: 10px;
	border-top: #dfdfdf 1px solid;
}
#content-wrapper .content-body .main-chat .chat .chat-content .icon{
	float: left;
	padding-left: 3px;
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice{
	vertical-align: top;
	margin-left: 60px;
	padding-top: 2px;
	font-size: 12px;
	/*border-left: #999 1px solid;*/
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .name{
	font-weight: bold;
	color: #73b847;
	padding-top: 1px;
	padding-bottom: 4px;
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .img{
	width: 250px;
	margin-top: 10px;
	border: #fff 4px solid;
}
#content-wrapper .content-body .main-chat .chat .chat-content .voice .time{
	width: 100%;
	padding-top: 3px;
	text-align: right;
	font-size: 10px;
	color: #999;
}

/*
 * footer
 *
 *
 */
#globalfooter{
}

#footer{
	width: 100%;
	background: #333;
	position: absolute;
	bottom: 0;
	height: 50px;
	z-index: 2;
		position:absolute; z-index:2;
	bottom:0; left:0;
	width:100%;
	height:48px;
	background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
	background-image:-moz-linear-gradient(top, #999, #666 2%, #222);
	background-image:-o-linear-gradient(top, #999, #666 2%, #222);
	padding:0;
	border-top:1px solid #444;
	text-align:center;
}
#footer .user{
	padding-left: 20px;
	padding-top: 10px;
	float: left;
}
#footer .user img.img{
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
#footer .user .name{
	color: #fff;
	padding-left: 4px;
}
#footer .controller{
	float: left;
	padding-left: 20px;
	margin-top: -10px;
}
#footer .controller ul{
	list-style: none;
}
#footer .controller ul li{
	float: left;
}
#footer .menu{
	float: right;
	padding-right: 20px;
}
